<div class="nstoolbar">
	<div class="nstitle">
		<span class="nsnetshot">Netshot</span> <span class="nsversion"></span> <span class="nsloader"><img src="img/ajax-loader.gif" alt="Loading" /></span>
	</div>
	<div id="nsuser">
		<span class="ui-icon ui-icon-person"></span> <a href="#"><%- user.username %></a>
	</div>
	<span id="nstoolbarpages"> <input type="radio" id="nstoolbar-reports" name="nstoolbarpages" checked="checked" /> <label for="nstoolbar-reports"> <img src="img/reports_32px.png" /> <span>Reports</span>
	</label> <input type="radio" id="nstoolbar-devices" name="nstoolbarpages" /> <label for="nstoolbar-devices"> <img src="img/devices_32px.png" /> <span>Devices</span>
	</label> <input type="radio" id="nstoolbar-diagnostics" name="nstoolbarpages" /> <label for="nstoolbar-diagnostics"> <img src="img/diagnostics_32px.png" /> <span>Diagnostics</span>
	</label> <input type="radio" id="nstoolbar-compliance" name="nstoolbarpages" /> <label for="nstoolbar-compliance"> <img src="img/compliance_32px.png" /> <span>Compliance</span>
	</label> <input type="radio" id="nstoolbar-tasks" name="nstoolbarpages" /> <label for="nstoolbar-tasks"> <img src="img/tasks_32px.png" /> <span>Tasks</span>
	</label> <input type="radio" id="nstoolbar-admin" name="nstoolbarpages" /> <label for="nstoolbar-admin"> <img src="img/settings_32px.png" /> <span>Admin</span>
	</label>
	</span> <span id="nstoolbar-section"></span> <span class="nstoolbarspacer"></span>
	<button id="nstoolbar-help">
		<img src="img/help_32px.png" /> <span>Help</span>
	</button>
	<button id="nstoolbar-about">
		<img src="img/about_32px.png" /> <span>About...</span>
	</button>
</div>


<div id="nsdialog" class="nsdialog"></div>
<div id="nsreauthdialog" class="nsdialog"></div>