<div id="nsadmin-about" title="About">

	<div class="nsdialog-logo">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg>
	</div>
	
	<div>
	<p>Thank you for using Netshot. Netshot is a free product, provided by NetFishers.</p>
	
	<ul>
		<li>Connected to Netshot version <%- user.serverVersion %></li>
		<li>Web site: <a href="http://www.netfishers.onl/netshot" target="_blank">http://www.netfishers.onl/netshot</a></li>
		<li>Contact: <a href="mailto:netshot@netfishers.onl">netshot@netfishers.onl</a></li>
	</ul>
	<p><strong>Should you need any help or new features, feel free to contact us!</strong></p>
	
	<p>Netshot is distributed "as is", without warranty. NetFishers people can't
	be held responsible for any damage caused to your devices or you network
	by the usage of Netshot. Netshot has no relationship with the network
	device vendors. <a target="_blank" href="LICENSE.txt">See Netshot licensing details.</a></p>
	
	<p>Netshot makes use of the following libraries:</p>
	<ul id="libraries">
		<li>Hibernate</li>
		<li>Quartz</li>
		<li>Jsch</li>
		<li>Apache Commons</li>
		<li>Grizzly</li>
		<li>Jersey</li>
		<li>Jackson</li>
		<li>Java DiffUtils</li>
		<li>SLF4j</li>
		<li>jQuery</li>
		<li>Underscore.js</li>
		<li>Backbone.js</li>
		<li>jQuery UI</li>
		<li>ACE</li>
		<li>Chart.js</li>
		<li>Require</li>
		<li>Jasypt</li>
		<li>JRadius</li>
		<li>Apache PO</li>
		<li>Tablesort</li>
		<li>Swagger</li>
		<li>...</li>
	</ul>
	
	<p>Netshot, Copyright 2014-2021, NetFishers, All Rights Reserved</p>
	</div>
</div>
