<div id="nsadmin-addcredentialsform" title="Add/Edit Credentials">

	<div class="nsdialog-logo">
		<% if (isNew) { %>
			<svg width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
				<path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
				<path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
			</svg>
		<% } else { %>
			<svg width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
				<path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
			</svg>
		<% } %>
	</div>

	<form>
		<fieldset>
			<label for="credentialsname">Name: </label> <input type="text"
				name="credentialsname" id="credentialsname" value="<%- name %>"
				class="text ui-widget-content ui-corner-all" autofocus="autofocus" />
		</fieldset>
		<fieldset>
			<label for="credentialsdomain">Domain: </label> <select
				name="credentialsdomain" id="credentialsdomain"
				class="text ui-widget-content ui-corner-all"></select>
		</fieldset>
		<fieldset>
			<div>
				<input type="radio" id="credentialstypesnmpv1"
					name="credentialstype" value="SNMP v1" /> <label
					for="credentialstypesnmpv1">SNMP v1</label>
			</div>
			<div>
				<input type="radio" id="credentialstypesnmpv2c"
					name="credentialstype" value="SNMP v2" /> <label
					for="credentialstypesnmpv2c">SNMP v2c</label>
			</div>
			<div>
				<input type="radio" id="credentialstypesnmpv3"
					name="credentialstype" value="SNMP v3" /> <label
					for="credentialstypesnmpv3">SNMP v3</label>
			</div>

			<div>
				<input type="radio" id="credentialstypessh" name="credentialstype"
					value="SSH" /> <label for="credentialstypessh">SSH</label>
			</div>
			<div>
				<input type="radio" id="credentialstypesshkey"
					name="credentialstype" value="SSH Key" /> <label
					for="credentialstypesshkey">SSH Key</label>
			</div>
			<div>
				<input type="radio" id="credentialstypetelnet"
					name="credentialstype" value="Telnet" /> <label
					for="credentialstypetelnet">Telnet</label>
			</div>
		</fieldset>
		<div>
			<table>
				<tbody>
					<tr class="nsadmin-credentialscommunity">
						<td><label for="credentialscommunity">Community:</label></td>
						<td><input type="text" name="credentialscommunity"
							id="credentialscommunity"
							class="text ui-widget-content ui-corner-all"
							value="<%- community %>" /></td>
					</tr>
					<tr class="nsadmin-credentialscli nsadmin-credentialssnmpv3">
						<td><label for="credentialsusername">Username:</label></td>
						<td><input type="text" name="credentialsusername"
							id="credentialsusername"
							class="text ui-widget-content ui-corner-all"
							value="<%- username %>" /></td>
					</tr>
					<tr class="nsadmin-credentialssnmpv3">
						<td><label for="credentialssnmpv3">Auth Type:</label></td>
						<td><select name="credentialssnmpv3authtype"
							id="credentialssnmpv3authtype"
							class="text ui-widget-content ui-corner-all"></select></td>
					</tr>
					<tr class="nsadmin-credentialssnmpv3">
						<td><label for="credentialssnmpv3">Auth Key:</label></td>
						<td><input type="text" name="credentialssnmpv3authkey"
							id="credentialssnmpv3authkey"
							class="text ui-widget-content ui-corner-all"
							value="<%- authKey %>" /></td>
					</tr>
					<tr class="nsadmin-credentialssnmpv3">
						<td><label for="credentialssnmpv3">Priv Type:</label></td>
						<td><select name="credentialssnmpv3privtype"
							id="credentialssnmpv3privtype"
							class="text ui-widget-content ui-corner-all"></select></td>
					</tr>
					<tr class="nsadmin-credentialssnmpv3">
						<td><label for="credentialssnmpv3">Key:</label></td>
						<td><input type="text" name="credentialssnmpv3privkey"
							id="credentialssnmpv3privkey"
							class="text ui-widget-content ui-corner-all"
							value="<%- privKey %>" /></td>
					</tr>
					<tr class="nsadmin-credentialsclikey">
						<td colspan="2"><label for="credentialspublickey">RSA
								Public Key:</label></td>
					</tr>
					<tr class="nsadmin-credentialsclikey">
						<td colspan="2"><textarea rows="3" cols="64"
								name="credentialspublickey" id="credentialspublickey"
								class="text ui-widget-content ui-corner-all"><%- publicKey %></textarea></td>
					</tr>
					<tr class="nsadmin-credentialsclikey">
						<td colspan="2"><label for="credentialsprivatekey">RSA
								Private Key:</label></td>
					</tr>
					<tr class="nsadmin-credentialsclikey">
						<td colspan="2"><textarea rows="3" cols="64"
								name="credentialsprivatekey" id="credentialsprivatekey"
								class="text ui-widget-content ui-corner-all"><%- privateKey %></textarea></td>
					</tr>
					<tr class="nsadmin-credentialscli">
						<td class="nsadmin-credentialsclikey"><label
							for="credentialspassword">Passphrase:</label></td>
						<td class="nsadmin-credentialsclinokey"><label
							for="credentialspassword">Password:</label></td>
						<td><input type="password" name="credentialspassword"
							id="credentialspassword"
							class="text ui-widget-content ui-corner-all"
							value="<%- password %>" /></td>
					</tr>
					<tr class="nsadmin-credentialscli">
						<td><label for="credentialssuper">Enable/Super password:</label></td>
						<td><input type="password" name="credentialssuper"
							id="credentialssuper"
							class="text ui-widget-content ui-corner-all"
							value="<%- superPassword %>" /></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="nserror" id="error">
			<span class="ui-icon ui-icon-alert"></span> <span id="errormsg"></span>
		</div>
	</form>
</div>
