
<div class="nsfullpage">

	<h1>Users</h1>
	
	<div id="nsadmin-users">

		<table class="nstable">
		<thead>
			<tr><th>Username</th><th>Permission level</th><th>Local authentication?</th><th /></tr>
		</thead>
		<tbody>
			<tr><td>
				<span class="nsloader">
				<img src="img/ajax-loader.gif" alt="Loading"></span>
			</td></tr>
		</tbody>
		</table>
		
		<form>
			<button id="nsadmin-adduser">Add...</button>
		</form>

	</div>

	<h1>Device Domains</h1>
	
	<div id="nsadmin-domains">
	
		<table class="nstable">
		<thead>
			<tr><th>Name</th><th>Description</th><th>Server Address</th><th /></tr>
		</thead>
		<tbody>
			<tr><td>
				<span class="nsloader">
				<img src="img/ajax-loader.gif" alt="Loading"></span>
			</td></tr>
		</tbody>
		</table>
		
		<form>
			<button id="nsadmin-adddomain">Add...</button>
		</form>
	
	</div>


	<h1>Device Credentials</h1>
	
	<div id="nsadmin-credentials">
	
		<table class="nstable">
		<thead>
			<tr><th>Name</th><th>Protocol</th><th>Domain</th><th /></tr>
		</thead>
		<tbody>
			<tr><td>
				<span class="nsloader">
				<img src="img/ajax-loader.gif" alt="Loading"></span>
			</td></tr>
		</tbody>
		</table>
		
		<form>
			<button id="nsadmin-addcredentials">Add...</button>
		</form>
	
	</div>
	
	<h1>Device Types (Drivers)</h1>
	
	<div id="nsadmin-drivers">
	
		<table class="nstable">
		<thead>
			<tr><th>Name</th><th>Description</th><th>SSH</th><th>Telnet</th><th>SNMP</th><th>Version</th><th>Author</th></tr>
		</thead>
		<tbody>
			<tr><td>
				<span class="nsloader">
				<img src="img/ajax-loader.gif" alt="Loading"></span>
			</td></tr>
		</tbody>
		</table>
		
		<form>
			<button id="nsadmin-refreshdrivers">Reload the drivers</button>
		</form>
	
	</div>

	<h1>API Tokens</h1>
	
	<div id="nsadmin-apitokens">

		<table class="nstable">
		<thead>
			<tr><th>Description</th><th>Permission level</th><th /></tr>
		</thead>
		<tbody>
			<tr><td>
				<span class="nsloader">
				<img src="img/ajax-loader.gif" alt="Loading"></span>
			</td></tr>
		</tbody>
		</table>
		
		<form>
			<button id="nsadmin-addapitoken">Add...</button>
		</form>

	</div>

	<h1>Web Hooks</h1>
	
	<div id="nsadmin-webhooks">

		<table class="nstable">
		<thead>
			<tr><th>Name</th><th>Enabled</th><th>URL</th><th /></tr>
		</thead>
		<tbody>
			<tr><td>
				<span class="nsloader">
				<img src="img/ajax-loader.gif" alt="Loading"></span>
			</td></tr>
		</tbody>
		</table>
		
		<form>
			<button id="nsadmin-addwebhook">Add...</button>
		</form>

	</div>


</div>