
<tr>
	<td><%- description %></td>
	<td>
		<% if (level >= 1000) { %>
		<span class="ui-corner-all" title="Admin">
			<span class="ui-icon nsicon ui-icon-bullet"></span>
			<span class="ui-icon nsicon ui-icon-bullet"></span>
			<span class="ui-icon nsicon ui-icon-bullet"></span>
		</span>
		<% } else if (level >= 500) { %>
		<span class="ui-corner-all" title="Read, write &amp; execute commands on devices">
			<span class="ui-icon nsicon ui-icon-bullet"></span>
			<span class="ui-icon nsicon ui-icon-bullet"></span>
			<span class="ui-icon nsicon ui-icon-radio-off"></span>
		</span>
		<% } else if (level >= 100) { %>
		<span class="ui-corner-all" title="Read, write">
			<span class="ui-icon nsicon ui-icon-bullet"></span>
			<span class="ui-icon nsicon ui-icon-radio-off"></span>
			<span class="ui-icon nsicon ui-icon-radio-off"></span>
		</span>
		<% } else { %>
		<span class="ui-corner-all" title="Read">
			<span class="ui-icon nsicon ui-icon-radio-off"></span>
			<span class="ui-icon nsicon ui-icon-radio-off"></span>
			<span class="ui-icon nsicon ui-icon-radio-off"></span>
		</span>
		<% } %>
	</td>
	<td>
		<button class="delete small">Delete</button>
	</td>
</tr>