
<tr>
	<td><%- username %></td>
	<td class="checkcolumn">
		<% if (level >= 1000) { %>
		<span class="ui-corner-all" title="Admin">
			<span class="ui-icon nsicon ui-icon-circle-check"></span>
			<span class="ui-icon nsicon ui-icon-circle-check"></span>
			<span class="ui-icon nsicon ui-icon-circle-check"></span>
			<span class="ui-icon nsicon ui-icon-circle-check"></span>
		</span>
		<% } else if (level >= 500) { %>
		<span class="ui-corner-all" title="Read, write &amp; execute commands on devices">
			<span class="ui-icon nsicon ui-icon-circle-check"></span>
			<span class="ui-icon nsicon ui-icon-circle-check"></span>
			<span class="ui-icon nsicon ui-icon-circle-check"></span>
			<span class="ui-icon nsicon ui-icon-radio-off"></span>
		</span>
		<% } else if (level >= 100) { %>
		<span class="ui-corner-all" title="Read, write">
			<span class="ui-icon nsicon ui-icon-circle-check"></span>
			<span class="ui-icon nsicon ui-icon-circle-check"></span>
			<span class="ui-icon nsicon ui-icon-radio-off"></span>
			<span class="ui-icon nsicon ui-icon-radio-off"></span>
		</span>
		<% } else if (level >= 50) { %>
		<span class="ui-corner-all" title="Operator (run snapshots, check, diagnostics)">
			<span class="ui-icon nsicon ui-icon-circle-check"></span>
			<span class="ui-icon nsicon ui-icon-radio-off"></span>
			<span class="ui-icon nsicon ui-icon-radio-off"></span>
			<span class="ui-icon nsicon ui-icon-radio-off"></span>
		</span>
		<% } else { %>
		<span class="ui-corner-all" title="Read">
			<span class="ui-icon nsicon ui-icon-radio-off"></span>
			<span class="ui-icon nsicon ui-icon-radio-off"></span>
			<span class="ui-icon nsicon ui-icon-radio-off"></span>
			<span class="ui-icon nsicon ui-icon-radio-off"></span>
		</span>
		<% } %>
	</td>
	<td class="checkcolumn">
		<% if (local) { %>
		<span class="ui-corner-all" title="Local">
			<span class="ui-icon nsicon ui-icon-circle-check"></span>
		</span>
		<% } else { %>
		<span class="ui-corner-all" title="Remote">
			<span class="ui-icon nsicon ui-icon-radio-off"></span>
		</span>
		<% } %>
	</td>
	<td>
		<button class="edit small">Edit...</button>
		<button class="delete small">Delete</button>
	</td>
</tr>