<div id="nsadmin-about" title="About">

	<div class="nsdialog-logo">
		<img alt="About" src="img/about_32px.png" />
	</div>
	
	<div>
	<p>Thanks for using Netshot</p>
	<ul>
		<li>Web GUI version <%- user.clientVersion %></li>
		<li>Connected to server version <%- user.serverVersion %></li>
	</ul>
	
	<p>Netshot makes use of the following libraries:</p>
	<ul id="libraries">
		<li>Hibernate</li>
		<li>Quartz</li>
		<li>Jsch</li>
		<li>Reflections</li>
		<li>Apache Commons</li>
		<li>Grizzly</li>
		<li>Jersey</li>
		<li>Jackson</li>
		<li>DiffUtils</li>
		<li>SLF4j</li>
		<li>Rhino</li>
		<li>jQuery</li>
		<li>Underscore.js</li>
		<li>Backbone.js</li>
		<li>jQuery UI</li>
		<li>ACE</li>
		<li>Chart.js</li>
		<li>Require</li>
		<li>Jasypt</li>
		<li>JRadius</li>
		<li>Apache PO</li>
	</ul>
	
	<p>Netshot, Copyright 2014, Sylvain Cadilhac, All Rights Reserved</p>
	</div>
</div>
