<div id="nstasks-monitor" title="Task Status">

	<div class="nsdialog-logo">
		<img alt="Task" src="img/tasks_32px.png" />
	</div>

	<table>
		<thead></thead>
		<tbody>
			<tr><td>Description:</td><td><%- taskDescription %></td></tr>
			<tr><td>Comments:</td><td><%- comments %></td></tr>
			<tr><td>Creation:</td><td><%- $.formatDateTime('dd/mm/y hh:ii:ss', new Date(creationDate)) %>
			<% if (typeof author === "string" && author.length > 0) { %> (by <%- author %>)<% } %></td></tr>
			<tr><td>Execution:</td><td>
			<% if (significantDate !== 0) { %><%- (isNaN((new Date(significantDate)).getDate()) ? significantDate : $.formatDateTime('dd/mm/y hh:ii:ss', new Date(significantDate))) %><% } %>
			(<%
				if (repeating) { %>repeating, <%- scheduleType.toLowerCase() %><% }
				else { %>once<% }
			%>)
			</td></tr>
			<tr><td>Status:</td><td><%- status %><% if (status == "RUNNING") { %> <img alt="Running" src="img/ajax-loader.gif" /><% } %></td></tr>
			<% if (status == "SUCCESS" && type == ".DiscoverDeviceTypeTask") { %>
			<tr><td>Discovered Type:</td><td><%- discoveredDeviceTypeDescription %></td></tr>
			<tr><td>Snapshot Task:</td><td><a href="#" id="gotosnapshot">Monitor</a></td></tr>
			<% } %>
			<% if (status == "SUCCESS" && type == ".TakeSnapshotTask") { %>
			<tr><td>Device:</td><td><a href="#/devices/<%- deviceId %>" id="gotodevice"><%- target %></a></td></tr>
			<% } %>
		</tbody>
	</table>
	
	<div id="nstask-tasklog">
	<div id="nstask-showlog" style="display: none;"><a href="#">Show logs</a></div>
	<div class="nsdialog-log" style="display: none;">
	</div>
	<div id="nstask-showdebuglog" style="display: none;"><a href="#">Download debug logs</a></div>
	</div>

</div>
