<div class="nstask-schedulelink"><a href="#">The task will run once, now (click for more options)</a></div>
<fieldset class="nstask-schedule">
	<div>
		<input type="radio" id="scheduleasap" name="schedule" value="asap"
			checked="checked" /> <label for="scheduleasap">Run once, as soon as possible</label>
	</div>
	<div>
		<input type="radio" id="schedulein" name="schedule" value="in" /> <label
			for="schedulein">Run once, in...</label>
		<div id="schedulein-options" class="schedule-options"
			style="display: none;">
			<input type="text" id="schedulein-min"
				class="nstimepicker inmin text ui-widget-content ui-corner-all" /> minutes
		</div>
	</div>
	<div>
		<input type="radio" id="scheduleat" name="schedule" value="at" /> <label
			for="scheduleat">Run once, at...</label>
		<div id="scheduleat-options" class="schedule-options"
			style="display: none;">
			Date: <input type="text" id="scheduleat-day"
				class="nsdatepicker text ui-widget-content ui-corner-all"
				readonly="readonly" /> Time: <input type="text"
				id="scheduleat-timehour"
				class="nstimepicker hour text ui-widget-content ui-corner-all" />:<input
				type="text" id="scheduleat-timemin"
				class="nstimepicker min text ui-widget-content ui-corner-all" />
		</div>
	</div>
	<div>
		<input type="radio" id="schedulerepeat" name="schedule" value="repeat" />
		<label for="schedulerepeat">Schedule as a repeating event...</label>
		<div id="schedulerepeat-options" class="schedule-options" style="display: none;">
			<table>
				<tbody>
					<tr>
						<td>Initial:</td>
						<td>
							<input type="text" id="schedulerepeat-day" class="nsdatepicker text ui-widget-content ui-corner-all"
								readonly="readonly" /> at <input type="text" id="schedulerepeat-timehour"
								class="nstimepicker hour text ui-widget-content ui-corner-all" />:<input
								type="text" id="schedulerepeat-timemin"
								class="nstimepicker min text ui-widget-content ui-corner-all" />
						</td>
					</tr>
					<tr>
						<td>Every:</td>
						<td>
							<input type="text" name="schedulerepeatfactor" id="schedulerepeatfactor"
								class="text spinner" value="1" /> <select id="schedulerepeatunit"
								class="text ui-widget-content ui-corner-all">
								<option value="HOURLY">hour(s)</option>
								<option value="DAILY">day(s)</option>
								<option value="WEEKLY">week(s)</option>
								<option value="MONTHLY">month(s)</option>
							</select>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</fieldset>
