<div id="nsuser-user" title="User details">

	<div class="nsdialog-logo">
		<img alt="User" src="img/user_32px.png" />
	</div>
	
	<form>
		<fieldset>
		<% if (local) { %>
			<strong><%- username %></strong> is a local user.
		<% } else { %>
			<strong><%- username %></strong> is a remotely authenticated user.
		<% } %>
		Authorization level is <%- level %>.
		</fieldset>
		<% if (local) { %>
		Change the password:
		<fieldset>
			<table>
			<tbody>
				<tr>
				<td><label for="currentpassword">Current password: </label></td>
				<td><input type="password" name="currentpassword" id="currentpassword" class="text ui-widget-content ui-corner-all" /></td>
				</tr>
				<tr>
				<td><label for="newpassword1">New password: </label></td>
				<td><input type="password" name="newpassword1" id="newpassword1" class="text ui-widget-content ui-corner-all" /></td>
				</tr>
				<tr>
				<td><label for="newpassword2">Repeat password: </label></td>
				<td><input type="password" name="newpassword2" id="newpassword2" class="text ui-widget-content ui-corner-all" /></td>
				</tr>
			</tbody>
			</table>
		</fieldset>
		<% } %>
		<div class="nserror" id="error">
			<span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
			<span id="errormsg"></span>
		</div>
	</form>
</div>
