<span class="nstoolbarspacer"></span>
<span id="nstoolbar-devices-add">
<button id="singledevice">
  <img src="img/add_32px.png" />
  <span>Add device...</span>
</button>
<button id="othermethods">
	<span style="height: 32px; width: 1px;"></span>
	<span>&nbsp;</span>
</button>
</span>
<ul id="nstoolbar-devices-addmenu">
	<li><a href="#" id="addsimple"><span class="ui-icon ui-icon-plus"></span>Add a simple device...</a></li>
	<li><a href="#" id="scansubnets"><span class="ui-icon ui-icon-search"></span>Scan subnet(s) for devices...</a></li>
	<li><a href="#" id="addgroup"><span class="ui-icon ui-icon-folder-collapsed"></span>Add a group...</a>
</ul>