<div id="nsdevices-addform" title="Add Device">

	<div class="nsdialog-logo">
		<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
			<path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
			<path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
			<path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
		</svg>
	</div>
	
	<form>
		<table>
		<tbody>
			<tr>
				<td><label for="devicedomain">Domain: </label></td>
				<td><select name="devicedomain" id="devicedomain" class="text ui-widget-content ui-corner-all"></select></td>
			</tr>
			<tr>
				<td><label for="deviceip">IP Address: </label></td>
				<td><input type="text" name="deviceip" id="deviceip" autofocus="autofocus"
					class="text ui-widget-content ui-corner-all" /></td>
			</tr>
			<tr>
				<td colspan="2"><input type="checkbox" name="autodiscover" id="autodiscover" /> <label
					for="autodiscover">Autodiscover Device Type</label></td>
			</tr>
			<tr class="nsdevices-autodiscoverimcompatible">
				<td><label for="devicetype">Type: </label></td>
				<td><select name="devicetype" id="devicetype" class="text ui-widget-content ui-corner-all"></select></td>
			</tr>
			<tr class="nsdevices-autodiscoverimcompatible">
				<td colspan="2">
					<input type="checkbox" name="overrideconnectsettings" id="overrideconnectsettings" />
					<label for="overrideconnectsettings">Override connection settings</label><br />
					<div id="deviceconnectionsettings">
						<div>
							<label for="deviceconnectipaddress">Connect to this IP: </label>
							<input
								type="text"
								name="deviceconnectipaddress"
								id="deviceconnectipaddress"
								class="text ui-widget-content ui-corner-all"
							/>
						</div>
						<div>
							<label for="devicesshport">SSH port: </label>
							<input
								type="text"
								name="devicesshport"
								id="devicesshport"
								class="text ui-widget-content ui-corner-all nsportpicker"
							/>
							<label for="devicetelnetport">Telnet port: </label>
							<input
								type="text"
								name="devicetelnetport"
								id="devicetelnetport"
								class="text ui-widget-content ui-corner-all nsportpicker"
							/>
						</div>
					</div>
				</td>
			</tr>
			<tr class="nsdevices-autodiscoverimcompatible">
				<td colspan="2">
					<div>
						<input type="radio" id="credentialstypecommon" name="credentialstype" value="Global" />
						<label for="credentialstypecommon">Use global credential sets for authentication</label>
					</div>
					<div>
						<input type="radio" id="credentialstypessh" name="credentialstype" value="SSH" />
						<label for="credentialstypessh">Specific SSH account</label>
					</div>
					<div>
						<input type="radio" id="credentialstypesshkey" name="credentialstype" value="SSH Key" />
						<label for="credentialstypesshkey">Specific SSH key</label>
					</div>
					<div>
						<input type="radio" id="credentialstypetelnet" name="credentialstype" value="Telnet" />
						<label for="credentialstypetelnet">Specific Telnet account</label>
					</div>
				</td>
			</tr>
		</tbody>
		</table>

		<div class="nsdevices-autodiscoverimcompatible">
			<table>
				<tbody>
					<tr class="nsadmin-credentialscommunity">
						<td><label for="credentialscommunity">Community:</label></td>
						<td><input type="text" name="credentialscommunity"
							id="credentialscommunity"
							class="text ui-widget-content ui-corner-all" /></td>
					</tr>
					<tr class="nsadmin-credentialscli">
						<td><label for="credentialsusername">Username:</label></td>
						<td><input type="text" name="credentialsusername"
							id="credentialsusername"
							class="text ui-widget-content ui-corner-all" /></td>
					</tr>
					<tr class="nsadmin-credentialsclikey">
						<td colspan="2"><label for="credentialspublickey">RSA Public Key:</label></td>
					</tr>
					<tr class="nsadmin-credentialsclikey">
						<td colspan="2"><textarea rows="3" cols="60" name="credentialspublickey"
							id="credentialspublickey" class="text ui-widget-content ui-corner-all"></textarea></td>
					</tr>
					<tr class="nsadmin-credentialsclikey">
						<td colspan="2"><label for="credentialsprivatekey">RSA Private Key:</label></td>
					</tr>
					<tr class="nsadmin-credentialsclikey">
						<td colspan="2"><textarea rows="3" cols="60" name="credentialsprivatekey"
							id="credentialsprivatekey" class="text ui-widget-content ui-corner-all"></textarea></td>
					</tr>
					<tr class="nsadmin-credentialscli">
						<td class="nsadmin-credentialsclikey"><label for="credentialspassword">Passphrase:</label></td>
						<td class="nsadmin-credentialsclinokey"><label for="credentialspassword">Password:</label></td>
						<td><input type="password" name="credentialspassword"
							id="credentialspassword"
							class="text ui-widget-content ui-corner-all" /></td>
					</tr>
					<tr class="nsadmin-credentialscli">
						<td><label for="credentialssuper">Enable/Super password:</label></td>
						<td><input type="password" name="credentialssuper" id="credentialssuper"
							class="text ui-widget-content ui-corner-all" /></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="nserror" id="error">
			<span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
			<span id="errormsg"></span>
		</div>
	</form>
</div>
