<div id="nsdevices-multicomplianceform" title="Check Compliance">

	<div class="nsdialog-logo">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-award"><circle cx="12" cy="8" r="7"></circle><polyline points="8.21 13.89 7 23 12 20 17 23 15.79 13.88"></polyline></svg>
	</div>
	
	<form>
		<div>
			<p>You are about to start compliance checking tasks for <%- number %> devices.</p>
		</div>
		<div id="status" class="nsdialog-progress" style="display: none;">
		Please wait... Creating tasks...
		<div id="progress" data-progress="0">
			<div id="bar"></div>
		</div>
		</div>
		<div class="nserror" id="error">
			<span class="ui-icon ui-icon-alert"></span>
			<span id="errormsg"></span>
		</div>
	</form>
</div>
