<tr class="<% if (typeof result === "string") { %><%- result.toLowerCase() %><% } %>">
	<td><%- policyName %></td>
	<td class="maincolumn"><%- ruleName %></td>
	<td class="result"><% if (typeof result === "string") { %><%- result %><% if (result == "EXEMPTED" && typeof expirationDate !== "undefined") { %> (until <%- formatDateTime(expirationDate, "day") %>)<% } %><% } else { %>NOT TESTED<% } %></td>
	<td><% if (typeof comment === "string") { %><pre><%- comment %></pre><% } %></td>
	<td>
		<% if (typeof result !== "undefined" && typeof checkDate === "number") { %>
			<%- formatDateTime(checkDate) %>
		<% } else { %>
			-
		<% } %>
	</td>
</tr>