<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<title>Netshot</title>
	<link rel="stylesheet" href="css/normalize.css" />
	<link rel="stylesheet" href="css/common.css" />
	<link rel="stylesheet" href="css/custom/jquery-ui.css" />
	<link rel="stylesheet" href="css/custom/jquery-ui.icon-font.css" type="text/css" />
	<link rel="stylesheet" href="css/app.css" />

</head>
<body class="nsconfig">

<table class="nsconfigtable">
	<colgroup>
		<col class="linenum" />
		<col />
		<col class="linenum" />
		<col />
	</colgroup>
<thead>
<tr>
	<th colspan="2">
		<button id="previous">Previous</button>
		<% if (typeof originalDate === "undefined") { %>
		No capture
		<% } else { %>
		Captured <%- formatDateTime(originalDate) %>
		<% } %>
	</th>
	<th colspan="2">
		Captured <%- formatDateTime(revisedDate) %>
		<button id="next">Next</button>
	</th>
</tr>
</thead>
<tbody>

<% _.each(deltas, function(deltaSet, item) { %>

<tr><th colspan="4">Differences on <%- item %></th></tr>

<% var currentLine = 0; %>
<% var maxLine = 0; %>

<% _.each(deltaSet, function(delta) { %>

<%
	var oLine = delta.originalPosition - delta.preContext.length + 1;
	var rLine = delta.revisedPosition - delta.preContext.length + 1;
%>

<% _.each(delta.hierarchy, function(entry) {
	if (entry.position + 1 > maxLine && entry.position + 1 < oLine) {
		if (entry.position + 1 > maxLine + 1) { 
%>
<tr class="etc <% if (currentLine++ % 2 == 0) { %>even<% } %>">
	<td class="linenum"></td><td class="left">...</td>
	<td class="linenum"></td><td class="right"></td>
</tr>
<%
		}
%>
<tr class="etc <% if (currentLine++ % 2 == 0) { %>even<% } %>">
	<td class="linenum"><%- entry.position + 1 %></td><td class="left"><%- entry.line.replace(/ /g, '\u00a0') %></td>
	<td class="linenum"></td><td class="right"></td>
</tr>
<%
		maxLine = entry.position + 1;
	}
}); %>

<% if (oLine > maxLine + 1) { %>
	<tr class="etc <% if (currentLine++ % 2 == 0) { %>even<% } %>">
	<td class="linenum"></td><td class="left">...</td>
	<td class="linenum"></td><td class="right">...</td>
</tr>
<% } %>

<% _.each(delta.preContext, function(line) {
	if (oLine < maxLine) { oLine++; rLine++; return; }
%>
<tr<% if (currentLine++ % 2 == 0) { %> class="even"<% } %>>
	<td class="linenum"><%- oLine++ %></td><td class="left"><%- line.replace(/ /g, '\u00a0') %></td>
	<td class="linenum"><%- rLine++ %></td><td class="right"><%- line.replace(/ /g, '\u00a0') %></td>
</tr>
<% }); %>


<% if (delta.diffType == "CHANGE") { %>
<% for (var i = 0; i < Math.max(delta.originalLines.length, delta.revisedLines.length); i++) { %>
<tr class="changed">
	<% if (i < delta.originalLines.length) { %>
	<td class="linenum"><%- oLine++ %></td><td class="left"><%- delta.originalLines[i].replace(/ /g, '\u00a0') %></td>
	<% } else { %>
	<td class="linenum"></td><td class="left"></td>
	<% } %>
	<% if (i < delta.revisedLines.length) { %>
	<td class="linenum"><%- rLine++ %></td><td class="right"><%- delta.revisedLines[i].replace(/ /g, '\u00a0') %></td>
	<% } else { %>
	<td class="linenum"></td><td class="right"></td>
	<% } %>
</tr>
<% } %>
<% } %>

<% if (delta.diffType == "INSERT") { %>
<% _.each(delta.revisedLines, function(line) { %>
<tr class="inserted">
	<td class="linenum"></td><td class="left"></td>
	<td class="linenum"><%- rLine++ %></td><td class="right"><%- line.replace(/ /g, '\u00a0') %></td>
</tr>
<% }); %>
<% } %>

<% if (delta.diffType == "DELETE") { %>
<% _.each(delta.originalLines, function(line) { %>
<tr class="deleted">
	<td class="linenum"><%- oLine++ %></td><td class="left"><%- line.replace(/ /g, '\u00a0') %></td>
	<td class="linenum"></td><td class="right"></td>
</tr>
<% }); %>
<% } %>

<% _.each(delta.postContext, function(line) { %>
<tr<% if (currentLine++ % 2 == 0) { %> class="even"<% } %>>
	<td class="linenum"><%- oLine++ %></td><td class="left"><%- line.replace(/ /g, '\u00a0') %></td>
	<td class="linenum"><%- rLine++ %></td><td class="right"><%- line.replace(/ /g, '\u00a0') %></td>
</tr>
<% }); %>

<% maxLine = oLine; %>

<% }); %>


<% }); %>

</tbody>
</table>

</body>
</html>
