
<div id="nsdevices-sidewidthdividerzone" />

<div id="nsdevices-device" class="nsmain"></div>

<div id="nsdevices-sidedividerzone" class="nssidebar" />

<div id="nsdevices-groups" class="nssidebar nstreelist">
  <ul>

  </ul>
</div>

<div id="nsdevices-sidedivider" class="nssidebar nssdivider" />

<div id="nsdevices-list" class="nssidebar">
	<div id="nsdevices-search" class="nssidebar ui-widget">
		<input
			type="text"
			name="devicesearch"
			id="nsdevices-searchfield"
			placeholder="Search for devices..."
			class="text ui-widget-content ui-corner-all"
		/>
		<button id="nsdevices-clearsearch">Clear</button>
		<button id="nsdevices-openadvancedsearch">Advanced...</button>
	</div>
	<div id="nsdevices-listheader">
	</div>
	<div id="nsdevices-listbuttons">
	<button id="nsdevices-selectall">Select all devices</button>
	<button id="nsdevices-refreshsearch">Refresh</button>
	</div>
	<div id="nsdevices-listbox" class="nstreelist" tabindex="1">
	<ul>
	</ul>
	</div>
</div>

<div id="nsdevices-sidewidthdivider" class="nssdivider" />
