<tr class="configline" data-config-id="<%- id %>">
	<th><span class="expandicon ui-icon ui-icon-triangle-1-e"></span>
	<a href="#" class="configlink" data-config-id="<%- id %>"><%- formatDateTime(changeDate) %></a></th>
	<td></td>
	<td>
		<button class="configpreviousdiff small">Compare to previous</button>
	</td>
</tr>

<% for (var a in attributes) { %>

<% var attribute = attributes[a]; %>

<tr class="configdetails">
	<td class="maincolumn"><%- attribute.title %></td>
	<td>
	<% if (attribute.type == "INTEGER") { %><%- attribute.number %><% } %>
	<% if (attribute.type == "TEXT") { %><%- attribute.text %><% } %>
	<% if (attribute.type == "BINARY") { if (attribute.assumption === true) { %>Yes<% } else { %>No<% } } %>
	<% if (attribute.type == "LONGTEXT") { %>
		<div class="nsicon-container">
			<span class="ui-icon ui-icon-extlink" style="float: left;"></span>
		</div>
		<a href="#" data-config-item="<%- attribute.name %>" data-config-title="<%- attribute.title %>" data-config-action="view">View</a>
		<div class="nsicon-container">
			<span class="ui-icon ui-icon-disk" style="float: left;"></span>
		</div>
		<a href="<%- attribute.downloadLink %>" data-config-item="<%- attribute.name %>" data-config-action="download">Download</a>
	<% } %>
	<% if (attribute.type == "BINARYFILE") { %>
		<div class="nsicon-container">
			<span class="ui-icon ui-icon-disk" style="float: left;"></span>
		</div>
		<% if (typeof(attribute.fileSize) === "number" && attribute.fileSize > 0) { %>
			<a href="<%- attribute.downloadLink %>" data-config-item="<%- attribute.name %>" data-config-action="download"><% if (typeof(attribute.originalName) === "string" && attribute.originalName.length > 0) { %><%- attribute.originalName %><% } else { %>Download<% } %></a>  (<%- formatFileSize(attribute.fileSize) %>)
		<% } else { %>
			Empty file
		<% } %>
	<% } %>
	</td>
</tr>

<% } %>

<tr class="configdetails">
	<td class="maincolumn">Probable author</td>
	<td><%- author %></td>
</tr>
