<span class="nstoolbarspacer"></span>
<button id="nstoolbar-devices-add">
	<svg xmlns="http://www.w3.org/2000/svg" style="position: absolute; top: 20px; right: 10px;" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
	<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
	<span>Add device...</span>
</button>
<ul id="nstoolbar-devices-addmenu" class="nstoolbarmenu">
	<li><a href="#" id="addsimple"><span class="ui-icon ui-icon-plus"></span>Add a simple device...</a></li>
	<li><a href="#" id="scansubnets"><span class="ui-icon ui-icon-search"></span>Scan subnet(s) for devices...</a></li>
	<li><a href="#" id="addgroup"><span class="ui-icon ui-icon-folder-collapsed"></span>Add a group...</a>
</ul>
<button id="nstoolbar-devices-schedule">
	<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-play"><polygon points="5 3 19 12 5 21 5 3"></polygon></svg>
	<span>Schedule task...</span>
</button>
