<% if (softwareLevel == "GOLD") { %>
<div id="softwarecompliancestatus" class="compliancestatus compliant">
	<span class="ui-icon ui-icon-check icon"></span>
	<span class="message"><b>Software:</b> The conformance level of the software version for this device is <span class="gold">GOLD</span>.</span>
</div>
<% } else if (softwareLevel == "SILVER") { %>
<div id="softwarecompliancestatus" class="compliancestatus compliant">
	<span class="ui-icon ui-icon-check icon"></span>
	<span class="message"><b>Software:</b> The conformance level of the software version for this device is <span class="silver">SILVER</span>.</span>
</div>
<% } else if (softwareLevel == "BRONZE") { %>
<div id="softwarecompliancestatus" class="compliancestatus compliant">
	<span class="ui-icon ui-icon-check icon"></span>
	<span class="message"><b>Software:</b> The conformance level of the software version for this device is <span class="bronze">BRONZE</span>.</span>
</div>
<% } else { %>
<div id="softwarecompliancestatus" class="compliancestatus noncompliant">
	<span class="ui-icon ui-icon-alert icon"></span>
	<span class="message"><b>Software:</b> The software version <%- softwareVersion %> does not conform to the software rules.</span>
</div>
<% } %>


</td>


<% if (compliant) { %>
<div id="compliancestatus" class="compliancestatus compliant">
	<span class="ui-icon ui-icon-check icon"></span>
	<span class="message"><b>Configuration:</b> The device is compliant with all policies.</span>
</div>
<% } else { %>
<div id="compliancestatus" class="compliancestatus noncompliant">
	<span class="ui-icon ui-icon-alert icon"></span>
	<span class="message"><b>Configuration:</b> The device is not in compliance with some policies.</span>
</div>
<% } %>

<table id="rules">
<thead>
	<tr>
	<th>Policy</th>
	<th>Rule</th>
	<th>Result</th>
	<th>Details</th>
	<th>Test date/time</th>
	</tr>
</thead>
<tbody>
</tbody>
<tfoot>
	<tr><td colspan="100%">
		<input type="checkbox" name="filtervalidrules" id="filtervalidrules" />
		<label for="filtervalidrules">Non conforming only</label>
	</td></tr>
</tfoot>
</table>

<% if (endOfSale) { %>
<div id="hardwarecompliancestatus" class="compliancestatus hardware noncompliant">
	<span class="ui-icon ui-icon-alert icon"></span>
	<span class="message"><b>Hardware:</b>
	End of sale since <%- formatDateTime(eosDate, "day") %> (module <%- eosModule.partNumber %>)
	</span>
</div>
<% } else { %>
<div id="hardwarecompliancestatus" class="compliancestatus hardware compliant">
	<span class="ui-icon ui-icon-check icon"></span>
	<span class="message"><b>Hardware:</b>
	Not end of sale yet<% if (typeof eosDate === "number") { %>, planned on <%- formatDateTime(eosDate, "day") %>
	(module <%- eosModule.partNumber %>)<% } %>
	</span>
</div>
<% }%>

<% if (endOfLife) { %>
<div id="hardwarecompliancestatus" class="compliancestatus hardware noncompliant">
	<span class="ui-icon ui-icon-alert icon"></span>
	<span class="message"><b>Hardware:</b>
	End of life since <%- formatDateTime(eolDate, "day") %> (module <%- eolModule.partNumber %>)
	</span>
</div>
<% } else { %>
<div id="hardwarecompliancestatus" class="compliancestatus hardware compliant">
	<span class="ui-icon ui-icon-check icon"></span>
	<span class="message"><b>Hardware:</b>
	Not end of life yet<% if (typeof eolDate === "number") { %>, planned on <%- formatDateTime(eolDate, "day") %>
	(module <%- eolModule.partNumber %>)<% } %>
	</span>
</div>
<% }%>


<button id="checkcompliance">Recheck compliance</button>
