

<table id="general">
<tbody>

<tr><th>Name</th><td><%- name %></td></tr>

<tr><th>Management Domain</th><td><%- mgmtDomain.name %></td></tr>
<tr>
	<th>Management IP</th>
	<td>
		<% if (connectUri) { %>
			<span class="ui-icon ui-icon-extlink"></span>
			<a href="<%- connectUri %>"><%- mgmtAddress %></a>
		<% } else { %>
			<%- mgmtAddress %>
		<% } %>
	</td>
</tr>

<tr><th>Status</th><td><%- status %></td></tr>

<tr><th></th><td></td></tr>
<tr><th>Location</th><td><%- location %></td></tr>
<tr><th>Contact</th><td><%- contact %></td></tr>

<tr><th></th><td></td></tr>
<tr><th>Network Class</th><td><%- networkClass %></td></tr>
<tr><th>Device Type</th><td><%- realDeviceType %></td></tr>
<tr><th>Family</th><td><%- family %></td></tr>

<tr><th>Software Version</th><td><%- softwareVersion %></td></tr>
<tr><th>Serial Number</th><td><%- serialNumber %></td></tr>

<tr><th>Creation Date</th><td>
	<%- formatDateTime(createdDate) %>
	<% if (typeof creator === "string" && creator.length > 0) { %> (added by <%- creator %>)<% } %>
</td></tr>
<tr><th>Last Change</th><td><%- formatDateTime(changeDate) %></td></tr>

<tr><th>Comments</th><td><div><%= $('<div></div>').text(comments).html().replace(/\r?\n/g,"<br />") %></div></td></tr>

<% if (attributes.length > 0) {  %>
<tr><th></th><td></td></tr>
<% _.each(attributes, function(attribute) { %>
<tr><th><%- attribute.title %></th>
<td>
<% if (attribute.type == "INTEGER" && typeof attribute.number != "undefined") { %><%- attribute.number %><% } %>
<% if (attribute.type == "TEXT" && typeof attribute.text != "undefined") { %><%- attribute.text %><% } %>
<% if (attribute.type == "BINARY") { if (attribute.assumption === true) { %>Yes<% } else { %>No<% } } %>
</td>
<% }); %>
<% } %>

<tr><th></th><td></td></tr>
<tr><th>Member of</th><td><div><% _.each(ownerGroups, function(group) { %><%- group.name %><br/><% }); %></div></td></tr>

</tbody>

</table>
