<table>
<tr>

<td>
	<div>Find devices:</div>
	<input type="text" id="devicesearch"
		class="text ui-widget-content ui-corner-all" placeholder="Device name/IP (&crarr; to search)" />
	<div id="alldevices" class="ui-widget-content ui-corner-all nstreelist">
		<div class="placeholder">
				<p class="title">No result</p>
				<p class="content">Use the Search field to find devices per name or IP.</p>
		</div>
		<ul></ul>
	</div>
</td>

<td>
	<button id="adddevice" class="neutral">Add</button><br/>
	<button id="removedevice" class="neutral">Remove</button>
</td>

<td>
Selected:

	<div id="devices" class="ui-widget-content ui-corner-all nstreelist">
		<ul></ul>
	</div>
</td>

</tr>
</table>