<div id="nsdevice-deviceseditform" title="Edit devices">

	<div class="nsdialog-logo">
		<img alt="Edit" src="img/device_32px.png" />
	</div>
	
	<form>
		<div>
			<p>This will apply to <%- number %> devices.</p>
		</div>
		<fieldset>
			<label for="devicedomain">Domain: </label> <select
				name="devicedomain" id="devicedomain"
				class="text ui-widget-content ui-corner-all"></select>
		</fieldset>
		<fieldset>
			Use the following credential sets:<br />
			<span id="devicecredentials"></span>
			<input type="checkbox" name="autotrycredentials" id="autotrycredentials" />
			<label for="autotrycredentials">In case of failure, also try all known credentials</label><br />
		</fieldset>
		<div id="status" class="nsdialog-progress" style="display: none;">
		Please wait... Processing devices...
		<div id="progress" data-progress="0">
			<div id="bar"></div>
		</div>
		</div>
		<div class="nserror" id="error">
			<span class="ui-icon ui-icon-alert"></span>
			<span id="errormsg"></span>
		</div>
	</form>
</div>
