<div id="nsdevice-deviceeditform" title="Edit device">

	<div class="nsdialog-logo">
		<img alt="Edit" src="img/device_32px.png" />
	</div>
	
	<form>
		<fieldset>
			<p>Name: <strong><%- name %></strong></p>
		</fieldset>
		<fieldset>
			<label for="deviceipaddress">Main IP Address: </label>
			<input type="text" name="deviceipaddress" id="deviceipaddress" autofocus="autofocus" value="<%- mgmtAddress.ip %>" class="text ui-widget-content ui-corner-all" />
		</fieldset>
		<fieldset>
			<label for="devicedomain">Domain: </label> <select
				name="devicedomain" id="devicedomain"
				class="text ui-widget-content ui-corner-all"></select>
		</fieldset>
		<fieldset>
			<input type="checkbox" name="overrideconnectsettings" id="overrideconnectsettings" />
			<label for="overrideconnectsettings">Override connection settings</label><br />
			<div id="deviceconnectionsettings">
				<div>
					<label for="deviceconnectipaddress">Connect to this IP: </label>
					<input
						type="text"
						name="deviceconnectipaddress"
						id="deviceconnectipaddress"
						value="<%- connectAddress && connectAddress.ip %>"
						class="text ui-widget-content ui-corner-all"
					/>
				</div>
				<div>
					<label for="devicesshport">SSH port: </label>
					<input
						type="text"
						name="devicesshport"
						id="devicesshport"
						value="<%- sshPort || '' %>"
						class="text ui-widget-content ui-corner-all nsportpicker"
					/>
					<label for="devicetelnetport">Telnet port: </label>
					<input
						type="text"
						name="devicetelnetport"
						id="devicetelnetport"
						value="<%- telnetPort || '' %>"
						class="text ui-widget-content ui-corner-all nsportpicker"
					/>
				</div>
			</div>
		</fieldset>
		<fieldset>
			Use the following credential sets:<br />
			<div id="devicecredentials"></div>
			<input type="checkbox" name="autotrycredentials" id="autotrycredentials" <% if (autoTryCredentials) { %>checked="checked" <% } %>/>
			<label for="autotrycredentials">In case of failure, also try all known credentials</label><br />
		</fieldset>
		<fieldset>
			<label for="devicecomments">Comments: </label>
			<textarea rows="4" cols="40" id="devicecomments" class="text ui-widget-content ui-corner-all"><%- comments %></textarea>
		</fieldset>
		<div class="nserror" id="error">
			<span class="ui-icon ui-icon-alert"></span>
			<span id="errormsg"></span>
		</div>
	</form>
</div>
