<div id="nsdevice-deviceeditform" title="Edit device">

	<div class="nsdialog-logo">
		<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-hdd-network" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
			 <path fill-rule="evenodd" d="M14 3H2a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zM2 2a2 2 0 0 0-2 2v1a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2z"/>
			 <path d="M5 4.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm-2 0a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
			 <path fill-rule="evenodd" d="M7.5 10V7h1v3a1.5 1.5 0 0 1 1.5 1.5h5.5a.5.5 0 0 1 0 1H10A1.5 1.5 0 0 1 8.5 14h-1A1.5 1.5 0 0 1 6 12.5H.5a.5.5 0 0 1 0-1H6A1.5 1.5 0 0 1 7.5 10zm0 1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z"/>
		</svg>
	</div>

	<form>
		<table>
		<tbody>
			<tr>
				<td>Name:</td>
				<td><strong><%- name %></strong></td>
			</tr>
			<tr>
				<td><label for="deviceipaddress">Main IP Address: </label></td>
				<td><input type="text" name="deviceipaddress" id="deviceipaddress"
					autofocus="autofocus" value="<%- mgmtAddress.ip %>" class="text ui-widget-content ui-corner-all" />
				</td>
			</tr>
			<tr>
				<td><label for="devicedomain">Domain: </label></td>
				<td><select name="devicedomain" id="devicedomain" class="text ui-widget-content ui-corner-all"></select></td>
			</tr>
			<tr>
				<td colspan="2">
					<input type="checkbox" name="overrideconnectsettings" id="overrideconnectsettings" />
					<label for="overrideconnectsettings">Override connection settings</label><br />
					<div id="deviceconnectionsettings">
						<div>
							<label for="deviceconnectipaddress">Connect to this IP: </label>
							<input
								type="text"
								name="deviceconnectipaddress"
								id="deviceconnectipaddress"
								value="<%- connectAddress && connectAddress.ip %>"
								class="text ui-widget-content ui-corner-all"
							/>
						</div>
						<div>
							<label for="devicesshport">SSH port: </label>
							<input
								type="text"
								name="devicesshport"
								id="devicesshport"
								value="<%- sshPort || '' %>"
								class="text ui-widget-content ui-corner-all nsportpicker"
							/>
							<label for="devicetelnetport">Telnet port: </label>
							<input
								type="text"
								name="devicetelnetport"
								id="devicetelnetport"
								value="<%- telnetPort || '' %>"
								class="text ui-widget-content ui-corner-all nsportpicker"
							/>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<div>
						<input type="radio" id="credentialstypecommon" name="credentialstype" value="Global" />
						<label for="credentialstypecommon">Use global credential sets for authentication</label>
					</div>
					<div>
						<input type="radio" id="credentialstypessh" name="credentialstype" value="SSH" />
						<label for="credentialstypessh">Specific SSH account</label>
					</div>
					<div>
						<input type="radio" id="credentialstypesshkey" name="credentialstype" value="SSH Key" />
						<label for="credentialstypesshkey">Specific SSH key</label>
					</div>
					<div>
						<input type="radio" id="credentialstypetelnet" name="credentialstype" value="Telnet" />
						<label for="credentialstypetelnet">Specific Telnet account</label>
					</div>
				</td>
			</tr>
			<tr id="globalcredentials">
				<td colspan="2">
					<div id="devicecredentials"></div>
					<input type="checkbox" name="autotrycredentials" id="autotrycredentials" <% if (autoTryCredentials) { %>checked="checked" <% } %>/>
					<label for="autotrycredentials">In case of failure, also try all known credentials</label><br />
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<table>
						<tbody>
							<tr class="nsadmin-credentialscli">
								<td><label for="credentialsusername">Username:</label></td>
								<td><input type="text" name="credentialsusername"
									id="credentialsusername"
									value="<%- (specificCredentialSet ? specificCredentialSet.username : '') %>"
									class="text ui-widget-content ui-corner-all" /></td>
							</tr>
							<tr class="nsadmin-credentialsclikey">
								<td colspan="2"><label for="credentialspublickey">RSA Public Key:</label></td>
							</tr>
							<tr class="nsadmin-credentialsclikey">
								<td colspan="2"><textarea rows="3" cols="60" name="credentialspublickey" id="credentialspublickey"
									class="text ui-widget-content ui-corner-all"><%- (specificCredentialSet ? specificCredentialSet.publicKey : "") %></textarea></td>
							</tr>
							<tr class="nsadmin-credentialsclikey">
								<td colspan="2"><label for="credentialsprivatekey">RSA Private Key:</label></td>
							</tr>
							<tr class="nsadmin-credentialsclikey">
								<td colspan="2"><textarea rows="3" cols="60" name="credentialsprivatekey" id="credentialsprivatekey"
									class="text ui-widget-content ui-corner-all"><%- (specificCredentialSet ? specificCredentialSet.privateKey : "") %></textarea></td>
							</tr>
							<tr class="nsadmin-credentialscli">
								<td class="nsadmin-credentialsclikey"><label for="credentialspassword">Passphrase:</label></td>
								<td class="nsadmin-credentialsclinokey"><label for="credentialspassword">Password:</label></td>
								<td><input type="password" name="credentialspassword"
									id="credentialspassword"
									value="<%- (specificCredentialSet ? specificCredentialSet.password : '') %>"
									class="text ui-widget-content ui-corner-all" /></td>
							</tr>
							<tr class="nsadmin-credentialscli">
								<td><label for="credentialssuper">Enable/Super password:</label></td>
								<td><input type="password" name="credentialssuper" id="credentialssuper"
									value="<%- (specificCredentialSet ? specificCredentialSet.superPassword : '') %>"
									class="text ui-widget-content ui-corner-all" /></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<label for="devicecomments">Comments: </label>
					<textarea rows="4" cols="40" id="devicecomments" class="text ui-widget-content ui-corner-all"><%- comments %></textarea>
				</td>
			</tr>
		</tbody>
		</table>
		<div class="nserror" id="error">
			<span class="ui-icon ui-icon-alert"></span>
			<span id="errormsg"></span>
		</div>
	</form>
</div>
