<div id="nsdevices-loadscript" title="Load device script">

	<form autocomplete="off">
		Select a script to load into the editor:
		<table>
			<tbody>
				<tr>
					<td>
						<div id="scripttree" class="nstreelist nsscripttree ui-widget-content ui-corner-all nstreelist">
							<div class="placeholder">
									<p class="title">No script available</p>
							</div>
							<ul></ul>
						</div></td>
				</tr>
			</tbody>
		</table>
	</form>
</div>

<div class="nserror" id="error">
	<span class="ui-icon ui-icon-alert"></span> <span id="errormsg"></span>
</div>

<div id="nsdialog-grandchild" class="nsdialog nsgrandchilddialog"></div>