<h1>Multiple devices selected</h1>

<div>
  <%= selectedDeviceNumber %> devices selected.
</div>

<div id="nsdevices-multidevices-actions">
	<div>
		The following actions apply to all of the selected devices:
	</div>

	<div class="nsdevices-multidevices-toolbar">
		<button id="edit">Edit</button>
		<button id="delete">Delete</button>
		<span>
			<button id="enable">Enable</button>
			<button id="disable">Disable</button>
		</span>
	</div>

	<div class="nsdevices-multidevices-toolbar">
		<button id="runscript">Run a script</button>
		<button id="snapshot">Take a snapshot</button>
		<button id="checkcompliance">Check compliance</button>
		<button id="rundiagnostics">Run diagnostics</button>
	</div>

</div>