<div id="nsdevices-rundiagnosticsform" title="Check Device Compliance">

	<div class="nsdialog-logo">
		<img alt="Task" src="img/diagnostic_32px.png" />
	</div>

	<form>	
		<table>
			<thead></thead>
			<tbody>
				<tr><td>Device:</td><td><strong><%- name %></strong></td></tr>
				<tr><td>IP Address:</td><td><%- mgmtAddress.ip %></td></tr>
			</tbody>
		</table>

		<fieldset>
			<input type="checkbox" id="checkcompliance" checked="checked" />
			<label for="checkcompliance">Check device compliance after the snapshot</label>
		</fieldset>
		
		<div id="nstasks-schedulertoolbox"></div>

		<div class="nserror" id="error">
			<span class="ui-icon ui-icon-alert"></span>
			<span id="errormsg"></span>
		</div>
	</form>
</div>
