<div id="nsdevice-runscriptform" class="editscriptform" title="Run script">

	<div class="nsdialog-logo">
		<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-film" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
			<path fill-rule="evenodd" d="M0 1a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V1zm4 0h8v6H4V1zm8 8H4v6h8V9zM1 1h2v2H1V1zm2 3H1v2h2V4zM1 7h2v2H1V7zm2 3H1v2h2v-2zm-2 3h2v2H1v-2zM15 1h-2v2h2V1zm-2 3h2v2h-2V4zm2 3h-2v2h2V7zm-2 3h2v2h-2v-2zm2 3h-2v2h2v-2z"/>
		</svg>
	</div>

	<form>
		<div class="nsdialog-page1">
			<fieldset>
				<label for="devicetype">Device type: </label> <select
					name="devicetype" id="devicetype"
					class="text ui-widget-content ui-corner-all"></select>
			</fieldset>
			<fieldset class="savetoolbar">
				<button id="loadscript" class="neutral">Load...</button>
				<button id="savescript" class="neutral">Save...</button>
			</fieldset>
			<fieldset id="editorfield">
				<div id="script"></div>
			</fieldset>
		</div>

		<div class="nsdialog-page2" style="display: none">
			<fieldset>
				<% if (device) { %>
					<p>Device: <strong><%- device.name %></strong> (<%- device.realDeviceType %>)</p>
				<% } else { %>
					<p>
						Devices: 
						<% if (deviceCount === 1) { %>
							<strong><%- firstDeviceNames[0] %></strong>
						<% } else if (deviceCount === 2) { %>
							<strong><%- firstDeviceNames[0] %></strong>, <strong><%- firstDeviceNames[1] %></strong>
						<% } else if (deviceCount === 3) { %>
							<strong><%- firstDeviceNames[0] %></strong>, <strong><%- firstDeviceNames[1] %></strong>, 
							<strong><%- firstDeviceNames[2] %></strong>
						<% } else if (deviceCount > 3) { %>
							<strong><%- firstDeviceNames[0] %></strong>, <strong><%- firstDeviceNames[1] %></strong>, 
							<strong><%- firstDeviceNames[2] %></strong> and <%- (deviceCount - 3) %> more
						<% } %>
					</p>
				<% } %>
			</fieldset>
			<fieldset id="scripttools">
				<div id="nstasks-schedulertoolbox"></div>
			</fieldset>
			<fieldset id="userinputs">
				<div>
					Script parameters:
				</div>
				<table>
					<tbody></tbody>
				</table>
			</fieldset>
		</div>

		<div id="status" class="nsdialog-progress" style="display: none;">
			Please wait... Creating tasks...
			<div id="progress" data-progress="0">
				<div id="bar"></div>
			</div>
		</div>
		<div class="nserror" id="error">
			<span class="ui-icon ui-icon-alert"></span>
			<span id="errormsg"></span>
		</div>
		<div class="nsinfo" id="info">
			<span class="ui-icon ui-icon-info"></span>
			<span id="infomsg">Info</span>
		</div>
	</form>
</div>

<div id="nsdialog-child" class="nsdialog nschilddialog"></div>