<div id="nsdevices-rundiagnosticsform" title="Run Diagnostics">

	<div class="nsdialog-logo">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline></svg>
	</div>

	<form>	
		<table>
			<thead></thead>
			<tbody>
				<tr><td>Device:</td><td><strong><%- name %></strong></td></tr>
				<tr><td>IP Address:</td><td><%- mgmtAddress.ip %></td></tr>
			</tbody>
		</table>

		<fieldset>
			<input type="checkbox" id="checkcompliance" checked="checked" />
			<label for="checkcompliance">Check device compliance after the diagnostics</label>
		</fieldset>
		
		<fieldset id="hidden">
			<input type="checkbox" name="debugsession" id="debugsession" /> <label
				for="debugsession">Enable full debug of the CLI session (only for troubleshooting)</label>
		</fieldset>
		
		<div id="nstasks-schedulertoolbox"></div>

		<div class="nserror" id="error">
			<span class="ui-icon ui-icon-alert"></span>
			<span id="errormsg"></span>
		</div>
	</form>
</div>
