<div id="nsdevices-multidiagnosticsform" title="Run Diagnostics">

	<div class="nsdialog-logo">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline></svg>
	</div>
	
	<form>
		<div>
			<p>You are about to run diagnostics for <%- number %> devices.</p>
		</div>
		<div id="status" class="nsdialog-progress" style="display: none;">
		Please wait... Creating tasks...
		<div id="progress" data-progress="0">
			<div id="bar"></div>
		</div>
		</div>
		<div class="nserror" id="error">
			<span class="ui-icon ui-icon-alert"></span>
			<span id="errormsg"></span>
		</div>
	</form>
</div>
