<div id="nsdevices-savescript" title="Save device script">

	<form autocomplete="off">
		<fieldset>
			<table>
				<tbody>
					<tr>
						<td><label for="scriptname">Script name: </label></td>
						<td><input type="text" name="scriptname" id="scriptname" autofocus="autofocus"
							class="text ui-widget-content ui-corner-all" /></td>
					</tr>
					<tr>
						<td>Device type: </td>
						<td><%- realDeviceType %></td>
					</tr>
				</tbody>
			</table>
		</fieldset>

		Existing scripts:
		<table>
			<tbody>
				<tr>
					<td>
						<div id="scripttree" class="nstreelist nsscripttree ui-widget-content ui-corner-all nstreelist">
							<div class="placeholder">
									<p class="title">No script available</p>
							</div>
							<ul></ul>
						</div></td>
				</tr>
			</tbody>
		</table>
	</form>
</div>

<div class="nserror" id="error">
	<span class="ui-icon ui-icon-alert"></span> <span id="errormsg"></span>
</div>

<div id="nsdialog-grandchild" class="nsdialog nsgrandchilddialog"></div>