<fieldset>
	<label for="devicetype">Type: </label>
	<select name="devicetype" id="devicetype"
		class="text ui-widget-content ui-corner-all"></select>
</fieldset>

<fieldset>
	<label for="expression">Expression: </label>
	<input type="text" name="expression" id="expression" autofocus="autofocus"
		autocomplete="off" class="text ui-widget-content ui-corner-all" value="" />
</fieldset>

<fieldset>
<fieldset title="Expression builder">
	<button id="builder-clear">Clear</button>
	<button id="builder-not">NOT</button>
	<button id="builder-and">AND</button>
	<button id="builder-or">OR</button>
</fieldset>
<fieldset title="Expression builder">
	<select name="fieldname" id="fieldname"
		class="text ui-widget-content ui-corner-all"></select>
	<div id="fieldbuttons"></span>
</fieldset>
</fieldset>