<div id="nsdevices-selectdeviceform" title="Select device">

	<form autocomplete="off">

		Find a device:

		<table>
			<tbody>
				<tr>
					<td>
						<input type="text" id="devicesearch"
							class="text ui-widget-content ui-corner-all"
							placeholder="Device name/IP (&crarr; to search)" />
						<div id="alldevices" class="ui-widget-content ui-corner-all nstreelist">
							<div class="placeholder">
									<p class="title">No result</p>
									<p class="content">Use the Search field to find devices per name or IP.</p>
							</div>
							<ul></ul>
						</div></td>
				</tr>
			</tbody>
		</table>
	</form>
</div>

<div class="nserror" id="error">
	<span class="ui-icon ui-icon-alert"></span> <span id="errormsg"></span>
</div>
