
#page {
	position: absolute;
	top: 80px;
	left: 10px;
	bottom: 10px;
	right: 70px;
	border: 1px solid #DDD;
	padding: 10px;
	overflow: auto;
}

#page.withmenu {
	right: 340px;
}

#page.withfloatingmenu {
	right: 340px;
}

.figure {
	
}

.code {
	font-family: monospace;
	background-color: #EEE;
	padding: 5px;
}

p.code {
	border-left: 2px solid #BBB;
}

td {
	padding-left: 10px;
	padding-right: 10px;
}

h1 {
	border-bottom: 2px solid red;
	margin: 20px 10px 0px 10px;
}



#menu {
	position: absolute;
	top: 80px;
	right: 10px;
	width: 30px;
	bottom: 10px;
	border: 1px solid #DDD;
	padding: 10px;
	overflow-y: auto;
	overflow-x: hidden;
}

#menu #inner {
	width: 300px;
}

#menu #inner #contents {
	font-size: 1.2em;
	font-weight: bolder;
}

#menu.withmenu {
	width: 300px;
}

#menu.withfloatingmenu {
	width: 300px;
}

#menu h2, #menu h3, #menu h4 {
	font-size: 0.9em;
	font-weight: normal;
	margin-top: 0px;
	margin-bottom: 0px;
}

#menu a {
	display: block;
	border: 1px solid transparent;
}

#menu .hover {
	background-color: #EEE;
	border: 1px solid #BBB;
}

#menu h3 {
	margin-left: 10px;
}

#menu h4 {
	margin-left: 20px;
}

#menu a {
	text-decoration: none;
}

#menu #tools {
	margin-bottom: 10px;
	text-align: right;
	line-height: 30px;
}

.ui-button {
	font-size: 11px;
}


