<div id="nsdevices-addgroupform" title="Add Group">

	<div class="nsdialog-logo">
		<img alt="Group" src="img/add_32px.png" />
	</div>
	
	<form>
		<fieldset>
			<label for="groupname">Name: </label>
			<input type="text" name="groupname" id="groupname" autofocus="autofocus"
				class="text ui-widget-content ui-corner-all" />
		</fieldset>
		<fieldset>
			<label for="groupfolder">Folder: </label>
			<input type="text" name="groupfolder" id="groupfolder" autofocus="autofocus"
				class="text ui-widget-content ui-corner-all" />
		</fieldset>
		<fieldset>
			<div>
				<input type="radio" id="grouptypestatic" name="grouptype" value="StaticDeviceGroup" checked="checked" />
				<label for="grouptypestatic">Static Group</label>
			</div>
			<div>
				<input type="radio" id="grouptypedynamic" name="grouptype" value="DynamicDeviceGroup" />
				<label for="grouptypedynamic">Dynamic Group</label>
			</div>
		</fieldset>
		<fieldset>
			<div>
				This will create an empty group. Please edit it once created to add devices.
			</div>
		</fieldset>

		<div class="nserror" id="error">
			<span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
			<span id="errormsg"></span>
		</div>
	</form>
</div>
