<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<title>Netshot</title>
	<link rel="stylesheet" href="css/normalize.css" />
	<link rel="stylesheet" href="css/common.css" />
	<link rel="stylesheet" href="css/app.css" />

</head>
<body class="nsconfig">

<table>
<tbody>
</tbody>
</table>

</body>
</html>
