<tr data-rule-id="<%- id %>" class="rulerow">
	<td><% if (typeof(targetGroup) == "object") { %><%- targetGroup.name %><% } else { %>[Any]<% } %></td>
	<td><% if (deviceClass == "org.netshot.device.Device") { %>[Any]<% } else { %><%- deviceType %><% } %></td>
	<td><%- family %></td>
	<td><%- partNumber %></td>
	<td><% if (typeof(endOfSale) == "number") { %>
		<%- $.formatDateTime('dd/mm/y', new Date(endOfSale)) %>
	<% } else { %>None<% } %></td>
	<td><% if (typeof(endOfLife) == "number") { %>
		<%- $.formatDateTime('dd/mm/y', new Date(endOfLife)) %>
	<% } else { %>None<% } %></td>
	<td>
		<button class="edit">Edit</button>
		<button class="delete">Delete</button>
	</td>
</tr>