<div id="nscompliance-addhardwareruleform" title="Add hardware rule">

	<div class="nsdialog-logo">
		<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-box-seam" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
			<path fill-rule="evenodd" d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2l-2.218-.887zm3.564 1.426L5.596 5 8 5.961 14.154 3.5l-2.404-.961zm3.25 1.7l-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
		</svg>
	</div>
	
	<form>
		<table>
		<tbody>
			<tr>
				<td><label for="group">Group: </label></td>
				<td><select name="group" id="group" class="text ui-widget-content ui-corner-all"></select></td>
			</tr>
			<tr>
				<td><label for="devicetype">Device type: </label></td>
				<td><select name="devicetype" id="devicetype" class="text ui-widget-content ui-corner-all"></select></td>
			</tr>
			<tr>
				<td><label for="family">Device family: </label></td>
				<td>
					<input type="text" name="family" id="family"
						class="text ui-widget-content ui-corner-all" value="<%- family %>" />
					<input type="checkbox" name="familyregexp" id="familyregexp"<% if (typeof familyRegExp !== "undefined" && familyRegExp) { %> checked="checked"<% } %> />
					<label for="familyregexp">RegExp</label>
				</td>
			</tr>
			<tr>
				<td><label for="partnumber">Part number: </label></td>
				<td>
					<input type="text" name="partnumber" id="partnumber"
						class="text ui-widget-content ui-corner-all" value="<%- partNumber %>" />
					<input type="checkbox" name="partnumberregexp" id="partnumberregexp"<% if (typeof partNumberRegExp !== "undefined" && partNumberRegExp) { %> checked="checked"<% } %> />
					<label for="partnumberregexp">RegExp</label>
				</td>
			</tr>
			<tr>
				<td><label for="endofsale">End of sale date:</label></td>
				<td>
					<input type="text" name="endofsale" id="endofsale"
						class="nsdatepicker text ui-widget-content ui-corner-all" readonly="readonly" />
					<button id="clearendofsale">Clear</button>
				</td>
			</tr>
			<tr>
				<td><label for="endoflife">End of life date:</label></td>
				<td>
					<input type="text" name="endoflife" id="endoflife"
						class="nsdatepicker text ui-widget-content ui-corner-all" readonly="readonly" />
					<button id="clearendoflife">Clear</button>
				</td>
			</tr>
		</tbody>
		</table>

		<div class="nserror" id="error">
			<span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
			<span id="errormsg"></span>
		</div>
	</form>
</div>
