<div id="nscompliance-addruleform" title="Add rule">

	<div class="nsdialog-logo">
		<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
			<path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
			<path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
			<path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
		</svg>
	</div>
	
	<form>
		<table>
		<tbody>
			<tr>
				<td><label for="rulename">Name: </label></td>
				<td><input type="text" name="rulename" id="rulename" autofocus="autofocus"
					class="text ui-widget-content ui-corner-all" /></td>
			</tr>
			<tr>
				<td colspan="2">
					<div>
						<input type="radio" id="TextRule" name="ruletype" checked="checked" />
						<label for="TextRule">Simple text (or regular expression) rule</label>
					</div>
					<div>
						<input type="radio" id="JavaScriptRule" name="ruletype" />
						<label for="JavaScriptRule">JavaScript rule</label>
					</div>
					<div>
						<input type="radio" id="PythonRule" name="ruletype" />
						<label for="PythonRule">Python rule</label>
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					The rule will be added to policy <strong><%- name %></strong>.
				</td>
			</tr>
		</tbody>
		</table>

		<div class="nserror" id="error">
			<span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
			<span id="errormsg"></span>
		</div>
	</form>
</div>
