
<div id="nscompliance-software" class="nsmain">

<h1>Software version compliance</h1>

<table class="nstable" id="ruletable">
<thead>
<tr>
	<th>Order</th>
	<th>Group</th>
	<th>Device type</th>
	<th>Device family</th>
	<th>Part number</th>
	<th>Version</th>
	<th>Level</th>
	<th />
</tr>
</thead>
<tbody>
</tbody>
</table>

</div>

<div id="nscompliance-hardware" class="nsmain">

<h1>Hardware support status</h1>

<table class="nstable" id="ruletable">
<thead>
<tr>
	<th>Group</th>
	<th>Device type</th>
	<th>Device family</th>
	<th>Part number</th>
	<th>End of sale</th>
	<th>End of life</th>
	<th/>
</tr>
</thead>
<tbody>
</tbody>
</table>

</div>

<div id="nscompliance-rule" class="nsmain"></div>

<div id="nscompliance-list" class="nssidebar">
	<div id="nscompliance-listbox" class="nstreelist">
	<ul>
	</ul>
	</div>
</div>

<div id="nscompliance-rulelist" class="nssidebar">
	<div id="nscompliance-rulelistbox" class="nstreelist">
	<ul>
	</ul>
	</div>
</div>