<div id="nscompliance-editruletextform" class="editscriptform" title="Edit text rule">

	<form>
		<table>
		<tbody>
			<tr>
				<td><label for="devicetype">Device type: </label></td>
				<td><select name="devicetype" id="devicetype" class="text ui-widget-content ui-corner-all"></select></td>
			</tr>
			<tr>
				<td><label for="fieldname">Field: </label></td>
				<td><select name="fieldname" id="fieldname" class="text ui-widget-content ui-corner-all"></select></td>
			</tr>
			<tr>
				<td><label for="context">Context: </label></td>
				<td><textarea rows="3" cols="40" id="context" class="text ui-widget-content ui-corner-all"></textarea></td>
			</tr>
			<tr>
				<td colspan="2">
					<input type="radio" id="allblocks" name="blocks" checked="checked" />
					<label for="allblocks">All found blocks must be valid</label>
					<input type="radio" id="anyblock" name="blocks" />
					<label for="anyblock">At least one block must be valid</label>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<input type="radio" id="dontinvert" name="ruleinvert" checked="checked" />
					<label for="dontinvert">The text must exist</label>
					<input type="radio" id="invert" name="ruleinvert" />
					<label for="invert">The text must not exist</label>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<input type="checkbox" name="regexp" id="regexp" /> <label for="regexp">The provided text is a regular expression</label>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<input type="checkbox" name="matchall" id="matchall" /> <label for="matchall">Compare the text to the whole section</label>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<input type="checkbox" name="normalize" id="normalize" /> <label for="normalize">Normalize the field text</label>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<label for="text">Text or pattern: </label>
					<div id="text-container">
						<textarea id="text" class="text ui-widget-content ui-corner-all"></textarea>
					</div>
				</td>
			</tr>
			
			<tr>
				<td colspan="2">
				</td>
			</tr>
			<tr id="nscompliance-editrule-testerfield">
				<td colspan="2">
					<input type="text" id="ruledevice" placeholder="Select a device..." data-device-id=""
						class="nsdatepicker text ui-widget-content ui-corner-all" readonly="readonly" />
					<button id="ruletest">Test...</button>
				</td>
			</tr>
		</tbody>
		</table>

		<div class="nserror" id="error">
			<span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
			<span id="errormsg"></span>
		</div>
		<div class="nsinfo" id="info">
			<span class="ui-icon ui-icon-infot" style="float: left; margin-right: .3em;"></span>
			<span id="infomsg">Info</span>
		</div>
	</form>
</div>

<div id="nsdialog-child" class="nsdialog nschilddialog"></div>