<div id="nscompliance-editruleform" title="Edit rule">

	<div class="nsdialog-logo">
		<img alt="Rule" src="img/rule_32px.png" />
	</div>
	
	<form>
		<fieldset>
			<label for="rulename">Name: </label>
			<input type="text" name="rulename" id="rulename" autofocus="autofocus"
				class="text ui-widget-content ui-corner-all" value="<%- name %>" />
		</fieldset>
		<fieldset>
			<input type="checkbox" name="ruleenabled" id="ruleenabled"<% if (enabled) { %> checked="checked"<% } %> />
			<label for="ruleenabled">Enabled</label>
		</fieldset>
		
		<fieldset>
		
		<table>
		<tr>
		
		<td>
		Device-based exemptions:
		
			<input type="text" id="devicesearch" class="text ui-widget-content ui-corner-all" placeholder="Search..." />
			<div id="alldevices" class="ui-widget-content ui-corner-all nstreelist">
			<ul></ul>
			</div>
			<input type="text" id="exemptiondate" class="text ui-widget-content ui-corner-all" readonly="readonly" />
		</td>
		
		<td>
			<button id="adddevice">Add</button><br/>
			<button id="removedevice">Remove</button>
		</td>
		
		<td>
		Selected:
		
			<div id="devices" class="ui-widget-content ui-corner-all nstreelist">
			<ul></ul>
			</div>
		</td>
		
		</tr>
		</table>
		
		</fieldset>

		<div class="nserror" id="error">
			<span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
			<span id="errormsg"></span>
		</div>
	</form>
</div>
