<tr data-rule-id="<%- id %>" class="rulerow">
	<td><% if (typeof targetGroup === "object" && targetGroup) { %><%- targetGroup.name %><% } else { %>[Any]<% } %></td>
	<td><% if (driver) { %><%- deviceType %><% } else { %>[Any]<% } %></td>
	<td><%- family %></td>
	<td><%- partNumber %></td>
	<td><% if (typeof endOfSale === "number") { %>
		<%- formatDateTime(endOfSale, "day") %>
	<% } else { %>None<% } %></td>
	<td><% if (typeof endOfLife === "number") { %>
		<%- formatDateTime(endOfLife, "day") %>
	<% } else { %>None<% } %></td>
	<td>
		<button class="edit">Edit</button>
		<button class="delete">Delete</button>
	</td>
</tr>