<li class="nscompliance-list-policy config-policy" data-policy-id="<%- id %>">
	<span class="name"><%- name %></span>
	<div class="details">
		<% 
			if (typeof targetGroups === "object" && targetGroups.length > 0) {
				var groupOutputs = [];
				for (t in targetGroups) {
					groupOutputs.push('<span class="group">' + targetGroups[t].name + '</span>');
				}
		%>
		Applies to <%= groupOutputs.join(", ") %>
		<% } else { %>
		Not applied
		<% } %>
		<div class="actions">
			<button class="edit">Edit</button>
			<button class="delete">Delete</button>
			<button class="addrule">Add rule</button>
		</div>
	</div>
</li>