<tr data-rule-id="<%- id %>" class="rulerow">
	<td class="sort"><%- order + 1 %></td>
	<td><% if (typeof targetGroup === "object" && targetGroup) { %><%- targetGroup.name %><% } else { %>[Any]<% } %></td>
	<td><% if (driver) { %><%- deviceType %><% } else { %>[Any]<% } %></td>
	<td><%- family %></td>
	<td><%- partNumber %></td>
	<td><%- version %></td>
	<td class="<%- level.toLowerCase() %>"><%- level %></td>
	<td>
		<button class="edit">Edit</button>
		<button class="delete">Delete</button>
	</td>
</tr>