<div id="nsdiagnostics-adddiagnosticform" title="Add diagnostic">

	<div class="nsdialog-logo">
		<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
			<path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
			<path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
			<path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
		</svg>
	</div>

	<form class="editscriptform">
		<table>
		<tbody>
			<tr>
				<td><label for="diagnosticname">Name: </label></td>
				<td><input type="text" name="diagnosticname" id="diagnosticname" autofocus="autofocus"
					class="text ui-widget-content ui-corner-all" /></td>
			</tr>
			<tr>
				<td colspan="2">
					<input type="checkbox" name="diagnosticenabled" id="diagnosticenabled" checked="checked" />
					<label for="diagnosticenabled">Enabled</label>
				</td>
			</tr>
			<tr>
				<td><label for="resulttype">Result type: </label></td>
				<td><select name="resulttype" id="resulttype" class="text ui-widget-content ui-corner-all">
					<option value="TEXT">Text</option>
					<option value="NUMERIC">Numeric</option>
					<option value="BINARY">Binary</option>
				</select></td>
			</tr>
			<tr>
				<td><label for="group">Group: </label></td>
				<td><select name="group" id="group" class="text ui-widget-content ui-corner-all">
					<option value="-1">None (not applied)</option>
				</select></td>
			</tr>
			<tr>
				<td colspan="2">
						<input type="radio" id="nsdiagnostictype-simple" name="diagnostictype" checked="checked" data-type="SimpleDiagnostic" />
						<label for="nsdiagnostictype-simple">Simple</label>
						<input type="radio" id="nsdiagnostictype-js" name="diagnostictype" data-type="JavaScriptDiagnostic" />
						<label for="nsdiagnostictype-js">Javascript-based</label>
						<input type="radio" id="nsdiagnostictype-py" name="diagnostictype" data-type="PythonDiagnostic" />
						<label for="nsdiagnostictype-py">Python-based</label>
				</td>
			</tr>
			<tr class="nsdiagnostics-settings" data-for-type="SimpleDiagnostic">
				<td><label for="devicetype">Device type: </label></td>
				<td><select name="devicetype" id="devicetype" class="text ui-widget-content ui-corner-all"></select></td>
			</tr>
			<tr class="nsdiagnostics-settings" data-for-type="SimpleDiagnostic">
				<td><label for="climode">CLI mode: </label></td>
				<td><select name="climode" id="climode" class="text ui-widget-content ui-corner-all cli-text"></select></td>
			</tr>
			<tr class="nsdiagnostics-settings" data-for-type="SimpleDiagnostic">
				<td><label for="command">CLI command: </label></td>
				<td><input type="text" name="command" id="command" class="text ui-widget-content ui-corner-all cli-text" /></td>
			</tr>
			<tr class="nsdiagnostics-settings" data-for-type="SimpleDiagnostic">
				<td><label for="modifierpattern">RegEx pattern: </label></td>
				<td><input type="text" name="modifierpattern" id="modifierpattern"
					class="text ui-widget-content ui-corner-all cli-text" /></td>
			</tr>
			<tr class="nsdiagnostics-settings" data-for-type="SimpleDiagnostic">
				<td><label for="modifierreplacement">Replace with: </label></td>
				<td><input type="text" name="modifierreplacement" id="modifierreplacement"
					class="text ui-widget-content ui-corner-all cli-text" /></td>
			</tr>
		</tbody>
		</table>

		<fieldset
			id="nsdiagnostics-adddiagnostic-editorfield-js"
			class="nsdiagnostics-settings nsdiagnostics-adddiagnostic-editorfield"
			data-for-type="JavaScriptDiagnostic">
		</fieldset>

		<fieldset
			id="nsdiagnostics-adddiagnostic-editorfield-py"
			class="nsdiagnostics-settings nsdiagnostics-adddiagnostic-editorfield"
			data-for-type="PythonDiagnostic">
		</fieldset>
	
		<div class="nserror" id="error">
			<span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
			<span id="errormsg"></span>
		</div>
	</form>
</div>
