<div id="nsdiagnostics-diagnosticheader">
	<div id="diagnostictoolbar">
		<button id="diagnosticedit">Edit...</button>
	</div>
</div>

<% if (type === ".SimpleDiagnostic") { %>

<table id="nsdiagnostics-simplediagnostic-details">
<tbody>
	<tr>
		<th>For devices of type...</th>
		<td><% if (typeof deviceDriver === "undefined") { %>Any<% } else { %><%- deviceDriverDescription %><% } %></td>
	</tr>
	<tr>
		<th>In CLI mode</th>
		<td class="cli-text"><% if (typeof cliMode !== "undefined") { %><%- cliMode %><% } %></td>
	</tr>
	<tr>
		<th>Execute the command</th>
		<td class="cli-text"><%if (typeof command !== "undefined") { %><%- command %><% } %></td>
	</tr>
	<% if (typeof modifierPattern !== "undefined" && modifierPattern && typeof modifierReplacement !== "undefined" && modifierReplacement) { %>
	<tr>
		<th>Replace anything matching...</th>
		<td class="cli-text"><%- modifierPattern %></td>
	</tr>
	<tr>
		<th>...with</th>
		<td class="cli-text"><%- modifierReplacement %></td>
	</tr>
	<% } %>
</tbody>
</table>

<% } else if (type === ".JavaScriptDiagnostic") { %>

<div id="nsdiagnostics-diagnostic-script"></div>

<% } else if (type === ".PythonDiagnostic") { %>

<div id="nsdiagnostics-diagnostic-script"></div>

<% } %>