<div id="nsdiagnostics-editdiagnosticform" title="Edit script-based diagnostic">

<div class="nsdialog-logo">
	<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-code-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
		<path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
		<path fill-rule="evenodd" d="M6.854 4.646a.5.5 0 0 1 0 .708L4.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0zm2.292 0a.5.5 0 0 0 0 .708L11.793 8l-2.647 2.646a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708 0z"/>
	</svg>
</div>

<form class="editscriptform">
	<table>
	<tbody>
		<tr>
			<td><label for="diagnosticname">Name: </label></td>
			<td><input type="text" name="diagnosticname" id="diagnosticname"
				class="text ui-widget-content ui-corner-all" value="<%- name %>" /></td>
		</tr>
		<tr>
			<td colspan="2">
					<input type="checkbox" name="diagnosticenabled" id="diagnosticenabled"
						<% if (enabled) { %>checked="checked"<% } %> />
				<label for="diagnosticenabled">Enabled</label>
			</td>
		</tr>
		<tr>
			<td><label for="resulttype">Result type: </label></td>
			<td><select name="resulttype" id="resulttype" class="text ui-widget-content ui-corner-all">
				<option value="TEXT">Text</option>
				<option value="NUMERIC">Numeric</option>
				<option value="BINARY">Binary</option>
			</select></td>
		</tr>
		<tr>
			<td><label for="group">Group: </label></td>
			<td><select name="group" id="group" class="text ui-widget-content ui-corner-all">
				<option value="-1">None (not applied)</option>
			</select></td>
		</tr>
	</tbody>
	</table>

	<fieldset id="nsdiagnostics-editdiagnostic-editorfield">
		<div id="nsdiagnostic-editdiagnostic-script" class="nsdiagnostic-adddiagnostic-script">
		</div>
	</fieldset>

	<div class="nserror" id="error">
		<span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
		<span id="errormsg"></span>
	</div>
</form>
</div>
	