html,button,input,select,textarea {
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

.text {
	padding: 2px;
}

a {
	color: #0366d6;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

.cli-text {
	font-family: monospace !important;
}

th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
	content: '';
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #404040 transparent;
	visibility: hidden;
	opacity: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
	border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}

#splash {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 200px;
	margin-top: -130px;
	margin-left: -200px;
	border: 1px solid #e1e4e8;
	border-radius: 6px;
	z-index: 1000;
	padding: 20px;
}

#splash.withbackground {
	background: url('../img/netshot-splash.svg') no-repeat bottom right;
}

#splash .title {
	font-size: 24px;
	font-weight: bold;
}

#splash form {
	padding-left: 0px;
}

#progress {
	width: 100%;
	height: 2px;
}

#progress #bar {
	height: 100%;
	width: 0%;
	background-color: #0366d6;
}

.nsdialog-progress {
	margin-top: 40px;
}

.nsdialog-progress #progress {
	margin-top: 5px;
}

#splash #connection-error {
	display: none;
}

#splash #versionmismatch-error {
	display: none;
}

#splash #authentication-box {
	display: none;
	margin-top: 30px;
}

#splash #authentication-box input {
	font-family: monospace;
	padding: 5px;
}

.ui-dialog.ui-widget .ui-dialog-titlebar {
	border-bottom-right-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
}

.ui-dialog.ui-widget .ui-dialog-titlebar button.ui-dialog-titlebar-close {
	border-color: transparent;
}

.ui-icon-alert {
	background-position-y: -143px;
}

#tabs.ui-buttonset {
	line-height: 35px;
}

.ui-buttonset .ui-button {
	margin-right: 0px;
}

.ui-widget {
	font-size: 0.9em;
}

.ui-widget form .ui-widget {
	font-size: 11px;
}

.ui-menu-item {
	padding: 4px 15px 4px 15px;
}

.ui-menu-item .ui-icon {
	position: relative;
	top: auto;
	bottom: auto;
	left: auto;
	margin: 0px 5px 0px 0px;
}

.ui-menu-item>a {
	text-decoration: none;
}

.nstoolbar {
	background-color: #032042;
	height: 66px;
	overflow: hidden;
	padding-top: 1px;
}

.nssmallscreen .nstoolbar .ui-button>span>span {
	display: none;
}

.nssmallscreen .nstoolbar {
	height: 52px;
}

.nstoolbar .ui-button {
	border: 2px solid transparent;
	background-image: none;
	background-color: transparent;
	box-shadow: none;
}

.nstoolbar .ui-button-text {
	padding-right: 5px;
	padding-left: 5px;
	color: #fff;
}

.nssmallscreen .nstoolbar .ui-button-text {
	padding-right: 0px;
	padding-left: 0px;
}

.nstoolbar .ui-button.ui-state-hover {
	border-color: hsla(0,0%,100%,.7);
}

.nstoolbar .ui-button.ui-state-active {
	border: 2px solid #fff;
	background-color: transparent;
}

.nstoolbar .ui-button.ui-state-active .ui-button-text {
	color: #fff;
}

.nstoolbar #nsuser {
	position: absolute;
	top: 40px;
	right: 10px;
	color: #fff;
}

.nssmallscreen .nstoolbar #nsuser {
	top: 20px;
}

#nsuser svg {
	vertical-align: middle;
}

#nsuser a {
	color: #fff;
	margin-top: -10px;
}

.ui-button {
	outline-style: none;
	box-shadow: 0 1px 0 rgba(27,31,35,.04), inset 0 1px 0 hsla(0,0%,100%,.25);
	transition: background-color .2s cubic-bezier(.3,0,.5,1);
}

.ui-button.primary {
	background-color: #2ea44f;
	color: #fff;
	border-color: #2ea44f;
}

.ui-button.ui-state-hover.primary {
	background-color: #2c974b;
	border-color: #2c974b;
}

.ui-button.danger {
	color: #cb2431;
	border-color: #cb2431;
}

.ui-button.ui-state-hover.danger {
	background-color: #cb2431;
	border-color: #cb2431;
	color: #fff;
}

.ui-dialog-buttonset .ui-button {
	padding-right: 16px;
	padding-left: 16px;
}

.ui-button-text {
	font-weight: bold;
}

.ui-button:not(.ui-button-icon-only) .ui-icon + .ui-button-text {
	margin-left: 0.3em;
}


.ui-button.small {
	font-size: 9px;
}

.nstoolbar .ui-button {
	font-size: 14px;
	border-radius: 0px !important;
}

.nstoolbar .ui-button>span {
	font-size: 1em;
	display: block;
}

.nstoolbar .ui-button>span>span {
	display: block;
	font-size: .9em;
	color: #fff;
}

.nstoolbar .ui-button.ui-state-hover .ui-button-text {
	color: hsla(0,0%,100%,.7);
}

.nstoolbar .ui-button.ui-state-hover>span>span {
	color: hsla(0,0%,100%,.7);
}

.nstoolbar .nstitle {
	display: block;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 15px;
}

.nssmallscreen .nstoolbar .nstitle {
	padding-top: 8px;
}

.nstoolbar .nsnetshot {
	font-size: 24px;
	font-weight: bold;
	color: #fff;
}

.nstoolbar .nsversion {
	display: block;
	text-align: right;
	font-size: 10px;
}

.nstoolbar .nsloader {
	float: left;
	position: absolute;
	top: 40px;
}

.nsloader {
	display: none;
}

.nstoolbarspacer {
	width: 1px;
	height: 15px;
	border-right: solid #DDD;
	margin: 0px 3px 0px 3px;
	display: inline-block;
}

#header {
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
}

#page {
	position: absolute;
	top: 68px;
	left: 0px;
	bottom: 0px;
	right: 0px;
}

.nsmain {
	padding: 10px;
	position: absolute;
	top: 5px;
	left: 275px;
	bottom: 5px;
	right: 5px;
	overflow: auto;
	border: solid 1px transparent;
}

.nsfullpage {
	padding: 10px;
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	overflow: auto;
	border: solid 1px #DDD;
}

.nssidebar {
	width: 250px;
	overflow: auto;
	border: solid 1px transparent;
	padding: 5px;
	overflow-x: hidden;
	overflow-y: auto;
}

.nstreelist {
	padding: 5px;
	overflow-x: hidden;
	overflow-y: auto;
}

.nstreelist ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.nstreelist li {
	cursor: pointer;
	border: 1px solid transparent;
	padding: 2px;
}

.nstreelist li.hover {
	background-color: #f6f8fa;
}

.nstreelist li.active {
	background-color: #dbedff;
}

h1 {
	font-size: 1.2em;
	color: #0366d6;
	font-weight: bold;
}

#nsdevices-groups {
	position: absolute;
	top: 5px;
	left: 5px;
	height: 100px;
}

#nsdevices-groups li.nsdevices-list-group>.name {
	font-weight: bold;
}

#nsdevices-groups li {
	padding-left: 8px;
}

#nsdevices-groups li .details {
	font-size: small;
	display: none;
}

#nsdevices-groups li.active .details {
	display: block;
}

#nsdevices-groups li.nsdevices-list-group {
	background-image: url('data:image/svg+xml;utf8,<svg width="1em" height="1em" viewBox="0 0 16 16" fill="%230366d6" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M14 10H2a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-1a1 1 0 0 0-1-1zM2 9a2 2 0 0 0-2 2v1a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-1a2 2 0 0 0-2-2H2z"/><path d="M5 11.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm-2 0a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/><path fill-rule="evenodd" d="M14 3H2a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zM2 2a2 2 0 0 0-2 2v1a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2z"/><path d="M5 4.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm-2 0a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/></svg>');
	background-repeat: no-repeat;
	background-position: 2px 5px;
	padding-left: 23px !important;
}

#nsdevices-groups li.nsdevices-list-groupfolder {
	background: url('data:image/svg+xml;utf8,<svg width="1em" height="1em" viewBox="0 0 16 16" fill="%230366d6" xmlns="http://www.w3.org/2000/svg"><path d="M9.828 4a3 3 0 0 1-2.12-.879l-.83-.828A1 1 0 0 0 6.173 2H2.5a1 1 0 0 0-1 .981L1.546 4h-1L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3v1z"/><path fill-rule="evenodd" d="M13.81 4H2.19a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4zM2.19 3A2 2 0 0 0 .198 5.181l.637 7A2 2 0 0 0 2.826 14h10.348a2 2 0 0 0 1.991-1.819l.637-7A2 2 0 0 0 13.81 3H2.19z"/></svg>') no-repeat 2px 5px;
	padding-left: 23px;
}

#nsdevices-groups li.nsdevices-list-groupfolder.expanded {
	background: url('data:image/svg+xml;utf8,<svg width="1em" height="1em" viewBox="0 0 16 16" fill="%230366d6" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M1 3.5A1.5 1.5 0 0 1 2.5 2h2.764c.958 0 1.76.56 2.311 1.184C7.985 3.648 8.48 4 9 4h4.5A1.5 1.5 0 0 1 15 5.5v.64c.57.265.94.876.856 1.546l-.64 5.124A2.5 2.5 0 0 1 12.733 15H3.266a2.5 2.5 0 0 1-2.481-2.19l-.64-5.124A1.5 1.5 0 0 1 1 6.14V3.5zM2 6h12v-.5a.5.5 0 0 0-.5-.5H9c-.964 0-1.71-.629-2.174-1.154C6.374 3.334 5.82 3 5.264 3H2.5a.5.5 0 0 0-.5.5V6zm-.367 1a.5.5 0 0 0-.496.562l.64 5.124A1.5 1.5 0 0 0 3.266 14h9.468a1.5 1.5 0 0 0 1.489-1.314l.64-5.124A.5.5 0 0 0 14.367 7H1.633z"/></svg>') no-repeat 2px 5px;
}

#nsdevices-groups li.nsdevices-list-groupfolder.expanded>ul {
	display: block;
}

#nsdevices-groups li.nsdevices-list-groupfolder>ul {
	margin-left: -10px;
	padding-left: 3px;
	border-left: 1px dotted #e1e4e8;
	display: none;
}

#nsdevices-groups .actions {
	float: right;
	margin-top: -15px;
}

#nsdevices-search {
	position: absolute;
	top: 5px;
	left: 5px;
	border: none;
	overflow: hidden;
	width: 258px;
	padding: 0px 0px 2px 0px;
}

#nsdevices-clearsearch {
	float: right;
	font-size: 9px;
	margin-top: -26px;
	right: 40px;
}

#nsdevices-listbuttons {
	float: right;
	margin-top: 35px;
	right: 0px;
}

#nsdevices-listbuttons>button {
	font-size: 9px;
}

#nsdevices-openadvancedsearch {
	float: right;
	font-size: 9px;
	margin-top: -26px;
	right: 10px;
}

#nsdevices-search>input {
	margin-top: 2px;
	width: 226px;
}

#nsdevices-sidedivider {
	position: absolute;
	top: 115px;
	height: 4px;
	border: 1px solid transparent;
	left: 5px;
	padding: 0px 5px 0px 5px;
	cursor: row-resize;
}

#nsdevices-sidedividerzone {
	position: absolute;
	top: 50px;
	left: 5px;
	bottom: 100px;
	border: none;
}

#nsdevices-list {
	position: absolute;
	top: 120px;
	left: 5px;
	bottom: 5px;
}

#nsdevices-listheader {
	position: absolute;
	top: 38px;
	left: 0px;
	width: 195px;
	padding: 5px;
	font-size: 0.9em;
	color: #555555;
	text-align: right;
}

#nsdevices-listbox {
	position: absolute;
	height: auto;
	top: 65px;
	left: 0px;
	bottom: 0px;
	width: 250px;
	outline: none;
}

#nsdevices-listbox li {
	display: block;
}

.nsdevices-list-device {
	display: block;
	background: url('data:image/svg+xml;utf8,<svg width="1em" height="1em" viewBox="0 0 16 16" fill="%230366d6" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M14 3H2a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zM2 2a2 2 0 0 0-2 2v1a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2z"/><path d="M5 4.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm-2 0a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/><path fill-rule="evenodd" d="M7.5 10V7h1v3a1.5 1.5 0 0 1 1.5 1.5h5.5a.5.5 0 0 1 0 1H10A1.5 1.5 0 0 1 8.5 14h-1A1.5 1.5 0 0 1 6 12.5H.5a.5.5 0 0 1 0-1H6A1.5 1.5 0 0 1 7.5 10zm0 1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z"/></svg>') no-repeat 2px 6px;
	padding-left: 23px !important;
}

.nsdevices-list-device.disabled {
	background: url('data:image/svg+xml;utf8,<svg width="1em" height="1em" viewBox="0 0 16 16" fill="%236a737d" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M14 3H2a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zM2 2a2 2 0 0 0-2 2v1a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2z"/><path d="M5 4.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm-2 0a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/><path fill-rule="evenodd" d="M7.5 10V7h1v3a1.5 1.5 0 0 1 1.5 1.5h5.5a.5.5 0 0 1 0 1H10A1.5 1.5 0 0 1 8.5 14h-1A1.5 1.5 0 0 1 6 12.5H.5a.5.5 0 0 1 0-1H6A1.5 1.5 0 0 1 7.5 10zm0 1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z"/></svg>') no-repeat 2px 6px;
	color: #6a737d;
}

.nsdevices-list-device .name {
	display: block;
	font-weight: bold;
}

.nsdevices-list-device .ip {
	display: block;
	font-size: small;
	font-family: monospace;
}

.nsdevices-list-device .family {
	display: block;
	font-size: small;
}

#nsdevices-header {
}

#nsdevices-devicetabs #deviceactionbar {
	float: right;
	position: absolute;
	right: 20px;
	top: 20px;
}



#nsdevices-devicetabs #devicetoolbar .ui-button.alert {
	color: rgba(158,28,35,1);
}

#nsdevices-devicetabs #devicetoolbar .ui-button.alert>span.ui-icon {
	background-image: url(custom/images/ui-icons_cd0a0a_256x240.png);
	background-position: 0 -143px;
}

#nsdevices-device .panel {
	margin-top: 5px;
	min-height: 500px;
	padding: 10px;
	overflow: auto;
}

#nsdevices-device .panel #general {
	min-width: 700px;
}

#nsdevices-device .panel #general td {
	padding-top: 5px;
	padding-bottom: 5px;
}

#nsdevices-device .panel #general th {
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 200px;
	white-space: nowrap;
}

#nsdevices-device .panel {
	font-size: 0.9em;
}

#nstoolbar-devices-add #othermethods {
	width: 16px;
}

#nstoolbar-devices-addmenu {
	width: 300px;
}

.nstoolbarmenu {
	width: 300px;
	z-index: 500;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #e1e4e8;
	border-radius: 6px;
	box-shadow: 0 8px 24px rgba(149,157,165,.2);
}

#nsdevices-device .panel table {
	border: 1px solid #e1e4e8;
	border-radius: 6px;
	border-collapse: separate;
	border-spacing: 0;
}

#nsdevices-device .panel table thead:first-child tr:first-child td,
#nsdevices-device .panel table thead:first-child tr:first-child th,
#nsdevices-device .panel table tbody:first-child tr:first-child td,
#nsdevices-device .panel table tbody:first-child tr:first-child th {
	padding-top: 6px;
	border-top: none;
}

#nsdevices-device .panel table tr:last-child td,
#nsdevices-device .panel table tr:last-child th {
	padding-bottom: 6px;
}


#nsdevices-device .panel table td {
	border-top: 1px solid #e1e4e8;
	padding: 5px 12px;
}

#nsdevices-device .panel table th {
	border-top: 1px solid #e1e4e8;
	padding: 5px 20px 5px 20px;
}

#nsdevices-device .panel .maincolumn {
	background-color: #f1f8ff;
}

#nsdevices-device .panel table tr .expandicon {
	float: left;
	margin-right: .3em;
	margin-top: 0em;
}

#nsdevices-device .panel table tr.configdetails {
	display: none;
}

.nsdevices-multidevices-toolbar {
	margin-top: 10px;
	margin-bottom: 10px;
}

.no-close .ui-dialog-titlebar-close {
	display: none;
}

.nsdialog fieldset {
	margin-top: 10px;
	margin-bottom: 10px;
}

.nsdialog table td {
	padding-left: 10px;
	padding-right: 10px;
}

.nsdialog form table td {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 0px;
}

.nsdialog form {
	padding-left: 50px;
}

.nsdialog label {
	margin-right: 5px;
}

.bi-exclamation-circle {
	color: rgba(158,28,35);
}

.nsdialog .nserror {
	margin-top: 15px;
	font-weight: bold;
	font-size: 0.9em;
	background-color: #ffe3e6;
	padding: 2px 5px 2px 5px;
}

.nsdialog .nserror .ui-icon {
	float: left;
	margin-right: .3em;
	margin-top: .2em;
}

.nsdialog .nsdialog-logo {
	float: left;
	margin: 10px;
	height: 24px;
	width: 24px;
	color: #0366d6;
}

.nsdialog #nstask-tasklog {
	margin-top: 20px;
}

.nsdialog .nsdialog-log {
	font-family: monospace;
	max-height: 200px;
	overflow-y: scroll;
	background: #fafbfc;
	padding: 5px 12px;
}

.nsicon {
	display: inline-block;
	vertical-align: text-top;
}

.nstable {
	margin-bottom: 10px;
	border: 1px solid #e1e4e8;
	border-radius: 6px;
	border-collapse: separate;
	border-spacing: 0;
	overflow: hidden;
}

.nstable tr th {
	background-color: #f6f8fa;
	border-bottom: 1px solid #e1e4e8;
}

.nstable tr:first-child td,
.nstable tr:first-child th {
	padding-top: 6px;
	border-top: none;
}

.nstable tr:last-child td,
.nstable tr:last-child th {
	padding-bottom: 6px;
}


.nstable td {
	border-top: 1px solid #e1e4e8;
	padding: 5px 12px;
}

.nstable th {
	border-top: 1px solid #e1e4e8;
	padding: 5px 20px 5px 20px;
}



.nsconfig {
	font-family: monospace;
	padding: 10px;
}

.nsconfig table {
	width: 100%;
}

.nsconfig table td {
	padding-left: 5px;
	padding-right: 5px;
}

.nsconfig table tr.even {
	background-color: #FBFBFB;
}

.nsconfig table tr.deleted {
	background-color: #FF9999;
}

.nsconfig table tr.inserted {
	background-color: #99FF99
}

.nsconfig table tr.changed {
	background-color: #FFFF99;
}

.nsconfig table.nsconfigtable {
	table-layout: fixed;
}

.nsconfig table .linenum {
	text-align: right;
	color: #CCC;
	width: 50px;
}

#nsconfig-differ {
	font-size: 0.9em;
	position: fixed;
	height: 80px;
	right: 40px;
	margin-top: -3px;
	padding: 3px;
}

#nsconfig-differ div {
	text-align: right;
}

#nsconfig-differ .config {
	width: 100%;
	border: 1px solid #e1e4e8;
	color: #e1e4e8;
	text-align: center;
	margin-bottom: 5px;
	padding: 3px;
}

#nsconfig-differ .config.hover {
	background-color: #e1e4e8;
}

#nsconfig-differ .config.active {
	color: #000;
	border-color: #000;
}

#nsconfig-differ .config.set {
	color: #000;
}

#nsdevices-advancedsearch #expression {
	width: 600px;
	background-image: none;
	background-color: #F1FF99;
}

#nsdevice-groupeditform #devicesearch {
	margin-top: 5px;
	width: 230px;
	padding-left: 5px;
	padding-right: 5px;
}

#nsdevice-groupeditform #alldevices {
	margin-top: 5px;
	width: 230px;
	height: 200px;
}

#nsdevice-groupeditform #devices {
	margin-top: 5px;
	width: 230px;
	height: 225px;
}

#nsdevice-groupeditform .nsdialog-logo {
	height: 50px;
}

#nsdevice-groupeditform li.disabled {
	color: #AAAAAA;
}

#nsdevice-groupeditform #expression {
	width: 400px;
	background-image: none;
	background-color: #F1FF99;
}

#nsdevice-groupeditform #previewdevices {
	max-height: 150px;
	width: 250px;
}

#nstasks-taskstabs {
	margin-bottom: 10px;
}

.nsdatepicker {
	text-align: center;
	width: 100px;
}

.nstimepicker {
	text-align: center;
	width: 30px;
}

.nsportpicker {
	text-align: center;
	width: 60px;
}

.nstask-schedule {
	display: none;
}

.nstask-schedule>div {
	margin-bottom: 5px;
}

.nstask-schedule .schedule-options {
	margin: 5px 0px 5px 15px;
}

#nstasks-schedulertoolbox {
	margin-top: 20px;
}

input.spinner {
	width: 30px;
}

#nsreports-list {
	position: absolute;
	top: 5px;
	left: 5px;
	bottom: 5px;
}

#nsreports-listbox {
	position: absolute;
	height: auto;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 250px;
	outline: none;
}

#nsreports-listbox li {
	display: block;
}

.nsreports-list-report {
	background: url('data:image/svg+xml;utf8,<svg width="1em" height="1em" viewBox="0 0 16 16" fill="%230366d6" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/><path fill-rule="evenodd" d="M9.5 1h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/><path d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z"/></svg>') no-repeat 2px 6px;
	padding-left: 23px !important;
}

.nsreports-list-report .name {
	display: block;
	font-weight: bold;
}

.nsreports-list-report .description {
	color: #808080;
	font-size: small;
	display: block;
}

#nsreport-tabs {
	margin-bottom: 10px;
}

.nsreports-submit {
	margin-top: 20px;
}

#nscompliance-list {
	position: absolute;
	top: 5px;
	left: 5px;
	bottom: 5px;
}

#nscompliance-listbox {
	position: absolute;
	height: auto;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 250px;
	outline: none;
}

#nscompliance-listbox li {
	display: block;
}

.nscompliance-list-policy {
	display: block;
	background: url('data:image/svg+xml;utf8,<svg width="1em" height="1em" viewBox="0 0 16 16" fill="%230366d6" xmlns="http://www.w3.org/2000/svg"><path d="M4 1h5v1H4a1 1 0 0 0-1 1H2a2 2 0 0 1 2-2zm10 7v5a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2h1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V8h1zM2 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H2zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H2zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H2z"/><path fill-rule="evenodd" d="M15.854 2.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 4.793l2.646-2.647a.5.5 0 0 1 .708 0z"/></svg>') no-repeat 2px 6px;
	padding-left: 23px !important;
}

.nscompliance-list-policy.software-policy {
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="%230366d6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-save"><path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"></path><polyline points="17 21 17 13 7 13 7 21"></polyline><polyline points="7 3 7 8 15 8"></polyline></svg>') no-repeat 2px 6px;
}

.nscompliance-list-policy.hardware-policy {
	background: url('data:image/svg+xml;utf8,<svg width="1em" height="1em" viewBox="0 0 16 16" fill="%230366d6" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2l-2.218-.887zm3.564 1.426L5.596 5 8 5.961 14.154 3.5l-2.404-.961zm3.25 1.7l-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/></svg>') no-repeat 2px 6px;
}

.nscompliance-list-policy .actions {
	float: right;
	margin-top: -15px;
}

.nscompliance-list-policy .details {
	display: none;
	font-size: small;
}

.nscompliance-list-policy.active .details {
	display: block;
}

.nscompliance-list-policy .name {
	display: block;
	font-weight: bold;
}

.nscompliance-list-policy .group {
	font-style: italic;
}

#nscompliance-rulelist {
	position: absolute;
	top: 5px;
	left: 270px;
	bottom: 5px;
	width: 200px;
}

#nscompliance-rulelistbox {
	position: absolute;
	height: auto;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 200px;
	outline: none;
}

#nscompliance-rule {
	left: 490px;
}

#nscompliance-software {
	left: 275px;
	display: none;
}

#nscompliance-software #ruletable .rulerow {
	border-left: 3px solid transparent;
}

#nscompliance-software #ruletable .rulerow.hover {
	border-left: 3px solid #BBB;
	cursor: default;
}

#nscompliance-hardware {
	left: 275px;
	display: none;
}

#nscompliance-hardware #ruletable .rulerow {
	border-left: 3px solid transparent;
}

#nscompliance-hardware #ruletable .rulerow.hover {
	border-left: 3px solid #BBB;
	cursor: default;
}

#nscompliance-rule-script {
	position: absolute;
	top: 60px;
	left: 5px;
	bottom: 5px;
	right: 5px;
}

.nscompliance-list-rule {
	display: block;
	background: url('data:image/svg+xml;utf8,<svg width="1em" height="1em" viewBox="0 0 16 16" fill="%230366d6" xmlns="http://www.w3.org/2000/svg"><path d="M4 1h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2h1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1H2a2 2 0 0 1 2-2z"/><path d="M2 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H2zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H2zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H2z"/><path fill-rule="evenodd" d="M8.646 5.646a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L10.293 8 8.646 6.354a.5.5 0 0 1 0-.708zm-1.292 0a.5.5 0 0 0-.708 0l-2 2a.5.5 0 0 0 0 .708l2 2a.5.5 0 0 0 .708-.708L5.707 8l1.647-1.646a.5.5 0 0 0 0-.708z"/></svg>') no-repeat 2px 6px;
	padding-left: 23px !important;
}

.nscompliance-list-rule.disabled {
	background: url('data:image/svg+xml;utf8,<svg width="1em" height="1em" viewBox="0 0 16 16" fill="%236a737d" xmlns="http://www.w3.org/2000/svg"><path d="M4 1h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2h1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1H2a2 2 0 0 1 2-2z"/><path d="M2 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H2zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H2zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H2z"/><path fill-rule="evenodd" d="M8.646 5.646a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L10.293 8 8.646 6.354a.5.5 0 0 1 0-.708zm-1.292 0a.5.5 0 0 0-.708 0l-2 2a.5.5 0 0 0 0 .708l2 2a.5.5 0 0 0 .708-.708L5.707 8l1.647-1.646a.5.5 0 0 0 0-.708z"/></svg>') no-repeat 2px 6px;
	color: #6a737d;
}

.nscompliance-list-rule .details {
	display: none;
	font-size: small;
}

.nscompliance-list-rule.active .details {
	display: block;
}

.nscompliance-list-rule .name {
	display: block;
	font-weight: bold;
}

.nscompliance-list-rule .actions {
	float: right;
	margin-top: -15px;
}

#nscompliance-editrulescriptform {
	position: absolute;
	top: 10px;
	bottom: 10px;
	left: 10px;
	right: 10px;
}

#nscompliance-editrule-editorfield {
	position: absolute;
	top: 0px;
	bottom: 70px;
	left: 10px;
	right: 10px;
}

#nscompliance-editrule-script {
	width: 100%;
	height: 100%;
}

.editscriptform #nscompliance-editrule-testerfield {
	position: absolute;
	bottom: 25px;
	width: 300px;
}

.editscriptform .nserror,.nsinfo {
	font-weight: bold;
	font-size: 0.9em;
	background-color: #ffe3e6;
	padding: 2px 5px 2px 5px;
	display: none;
	margin-top: 8px;
	position: absolute;
	bottom: 0px;
	left: 10px;
	right: 10px;
}

.editscriptform .nserror,.nsinfo .ui-icon {
	float: left;
	margin-right: .3em;
	margin-top: .2em;
}

.editscriptform .nserror {
	background-color: #ffe3e6;
}

.editscriptform .nsinfo {
	background-color: #CCFFCC;
}

#ruledevice {
	width: 150px;
	cursor: pointer;
}

#nscompliance-editruletextform #text-container {
	position: absolute;
	top: 305px;
	bottom: 70px;
	left: 74px;
	right: 20px;
	padding: 0px 30px 20px 0px;
}

#nscompliance-editruletextform #text-container #text {
	height: 100%;
	width: 100%;
}

#nscompliance-editruletextform textarea {
	resize: none;
	font-family: monospace;
}

#nsdevice-deviceeditform #devicecredentials {
	padding-left: 10px;
}

#nsdevices-selectdeviceform #devicesearch {
	margin-top: 5px;
	width: 230px;
	padding-left: 5px;
	padding-right: 5px;
}

#nsdevices-selectdeviceform #alldevices {
	margin-top: 5px;
	width: 230px;
	height: 200px;
}

#nsdevices-selectdeviceform .nsdialog-logo {
	height: 35px;
}

#nscompliance-ruletestlogs {
	max-height: 400px;
	width: 100%;
}

#nscompliance-editruleform #devicesearch {
	margin-top: 5px;
	width: 200px;
	padding-left: 5px;
	padding-right: 5px;
}

#nscompliance-editruleform #alldevices {
	margin-top: 5px;
	width: 200px;
	height: 190px;
}

#nscompliance-editruleform #exemptiondate {
	margin-top: 5px;
	width: 200px;
	padding-left: 5px;
	padding-right: 5px;
	cursor: pointer;
}

#nscompliance-editruleform #devices {
	margin-top: 5px;
	width: 260px;
	height: 240px;
}

#nscompliance-editruleform .nsdialog-logo {
	height: 50px;
}

#nscompliance-editruleform li.disabled {
	color: #AAAAAA;
}

#nscompliance-editrulescriptform textarea {
	resize: none;
	font-family: monospace;
}

#nscompliance-editrulescriptform #text {
	width: 500px;
}

#nsdevices-devicedetails #rules {
	margin-bottom: 30px;
}

#nsdevices-devicedetails #checkcompliance {
	margin-top: 20px;
	margin-bottom: 10px;
}

#nsdevices-devicedetails .compliancestatus {
	margin: 5px;
	padding: 5px 10px;
}

#nsdevices-devicedetails .compliancestatus.noncompliant {
	background-color: #ffe3e6;
	border: 1px solid rgba(158,28,35,.2);
}

#nsdevices-devicedetails .compliancestatus.compliant {
	background-color: #CCFFCC;
	border: 1px dotted #00FF00;
}

#nsdevices-devicedetails .compliancestatus.hardware {
	background: transparent;
}

#nsdevices-devicedetails .compliancestatus .icon {
	float: left;
	margin-right: -.3em;
	margin-top: .1em;
}

#nsdevices-devicedetails .compliancestatus .message {
	margin-left: .5em;
}

#nsdevices-devicedetails #rules .result {
	color: #AAAAAA;
}

#nsdevices-devicedetails #rules tr.nonconforming .result {
	color: #FF1010;
}

#nsdevices-devicedetails #rules tr.conforming .result {
	color: #10FF10;
}

#chart-configcompliance {
	display: inline-block;
}

#nsdevices-devicedetails #tasks button {
	font-size: 9px;
}

#nsdevices-devicedetails .legend {
	margin-bottom: 10px;
}

.nsreport-legend {
	display: inline-block;
	border: 1px solid #BBB;
	padding: 10px;
	margin-top: 10px;
}

.nsreport-legend-item {
	width: 100%;
	margin-top: 5px;
}

.nsreport-legend-color {
	height: 15px;
	width: 15px;
}

.nsreport-legend-text {
	margin-left: 5px;
	padding-right: 10px;
	padding-left: 10px;
}

.nsreport-legend-value {
	text-align: right;
	padding-left: 10px;
}

.nsreport-legend-comment {
	text-align: left;
	padding-left: 10px;
	font-size: .9em;
	color: #BBB;
}

#nscompliance-addsoftwareruleform .nsdialog-logo {
	height: 150px;
}

.gold {
	color: #FFD700;
}

.silver {
	color: #C0C0C0;
}

.bronze {
	color: #CD7F32;
}

#nsreport-softwarecompliance-group-charts .group-chart {
	width: 250px;
	display: inline-block;
}

#nsadmin-about #libraries li {
	display: inline;
}

.nsadmin-credentialsclikey textarea {
	font-size: .8em;
	font-family: monospace;
}

#nsdevices-searchtoolbox #fieldbuttons {
	line-height: 2em;
}

#nscompliance-textrule-details {
	font-size: 0.9em;
	width: 100%;
	margin-top: 30px;
}

#nscompliance-textrule-details tr {
	border-top: 1px solid #e1e4e8;
	border-bottom: 1px solid #e1e4e8;
}

#nscompliance-textrule-details th {
	width: 160px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
}

#nscompliance-textrule-details td {
	padding-top: 5px;
	padding-bottom: 5px;
}

#nscompliance-textrule-details .ruleconfig {
	font-family: monospace;
}

.editscriptform #editorfield {
	position: absolute;
	top: 50px;
	bottom: 50px;
	left: 55px;
	right: 10px;
}

.editscriptform .loadsavetools {
	position: absolute;
	left: 10px;
	width: 28px;
	height: 25px;
	padding: 3px;
	background-color: white;
	z-index: 10;
	white-space: nowrap;
	border: 1px solid transparent;
	overflow: hidden;
}

.editscriptform .loadsavetools.expanded {
	width: 260px;
	border: 1px solid #e1e4e8;
	border-radius: 6px;
	height: auto;
	box-shadow: 0 8px 24px rgba(149,157,165,.2);
}


.editscriptform .loadsavetools input.text {
	width: 170px;
}

.editscriptform .loadsavetools select.text {
	vertical-align: top;
	width: 180px;
}

.editscriptform .loadsavetools table {
	margin: 5px;
	width: 100%;
}

.editscriptform .loadsavetools table tr {
	border-top: 1px solid #e1e4e8;
	border-bottom: 1px solid #e1e4e8;
}

.editscriptform .loadsavetools table th {
	width: 30%;
}

.editscriptform #savetools {
	top: 55px;
}

.editscriptform #loadtools {
	top: 95px;
}

.editscriptform #loadtools.expanded {
	top: 95px;
	height: 122px;
}

.editscriptform #script {
	width: 100%;
	height: 100%;
}

.editscriptform #scripttools {
	position: absolute;
	bottom: 20px;
	left: 50px;
}

.editscriptform #scriptsaveblock {
	display: none;
}

.editscriptform #scriptloadblock {
	display: none;
}

#nscompliance-runmultiscriptform #editorfield {
	top: 100px;
}

#nscompliance-runmultiscriptform #savetools {
	top: 105px;
}

#nscompliance-runmultiscriptform #loadtools {
	top: 136px;
}

#nscompliance-runmultiscriptform #status {
	position: absolute;
	bottom: 30px;
}

#deviceconnectionsettings {
	padding-left: 10px;
}

#deviceconnectionsettings>div {
	margin-top: 5px;
}

#nsdiagnostics-list {
	position: absolute;
	top: 5px;
	left: 5px;
	bottom: 5px;
}

#nsdiagnostics-listbox {
	position: absolute;
	height: auto;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 250px;
	outline: none;
}

#nsdiagnostics-listbox li {
	display: block;
}

.nsdiagnostics-list-diagnostic {
	background: url('data:image/svg+xml;utf8,<svg width="1em" height="1em" viewBox="0 0 16 16" fill="%230366d6" xmlns="http://www.w3.org/2000/svg"><path d="M4 1h5v1H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V6h1v7a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2z"/><path d="M9 4.5V1l5 5h-3.5A1.5 1.5 0 0 1 9 4.5z"/><path fill-rule="evenodd" d="M7 4a.5.5 0 0 1 .5.5v.634l.549-.317a.5.5 0 1 1 .5.866L8 6l.549.317a.5.5 0 1 1-.5.866L7.5 6.866V7.5a.5.5 0 0 1-1 0v-.634l-.549.317a.5.5 0 1 1-.5-.866L6 6l-.549-.317a.5.5 0 0 1 .5-.866l.549.317V4.5A.5.5 0 0 1 7 4zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/></svg>') no-repeat 2px 6px;
	padding-left: 23px !important;
}

.nsdiagnostics-list-diagnostic.disabled {
	background: url('data:image/svg+xml;utf8,<svg width="1em" height="1em" viewBox="0 0 16 16" fill="%236a737d" xmlns="http://www.w3.org/2000/svg"><path d="M4 1h5v1H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V6h1v7a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2z"/><path d="M9 4.5V1l5 5h-3.5A1.5 1.5 0 0 1 9 4.5z"/><path fill-rule="evenodd" d="M7 4a.5.5 0 0 1 .5.5v.634l.549-.317a.5.5 0 1 1 .5.866L8 6l.549.317a.5.5 0 1 1-.5.866L7.5 6.866V7.5a.5.5 0 0 1-1 0v-.634l-.549.317a.5.5 0 1 1-.5-.866L6 6l-.549-.317a.5.5 0 0 1 .5-.866l.549.317V4.5A.5.5 0 0 1 7 4zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/></svg>') no-repeat 2px 6px;
	color: #6a737d;
}

.nsdiagnostics-list-diagnostic .actions {
	float: right;
	margin-top: -15px;
}

.nsdiagnostics-list-diagnostic .details {
	display: none;
	font-size: small;
}

.nsdiagnostics-list-diagnostic.active .details {
	display: block;
}

.nsdiagnostics-list-diagnostic .name {
	display: block;
	font-weight: bold;
}

.nsdiagnostics-list-diagnostic .group {
	font-style: italic;
}

#nsdiagnostics-simplediagnostic-details {
	font-size: 0.9em;
	width: 100%;
	margin-top: 30px;
}

#nsdiagnostics-simplediagnostic-details tr {
	border-top: 1px solid #e1e4e8;
	border-bottom: 1px solid #e1e4e8;
}

#nsdiagnostics-simplediagnostic-details th {
	width: 160px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
}

#nsdiagnostics-simplediagnostic-details td {
	padding-top: 5px;
	padding-bottom: 5px;
}

#nsdiagnostics-adddiagnostic-editorfield {
	position: absolute;
	top: 170px;
	bottom: 15px;
	left: 10px;
	right: 10px;
}

#nsdiagnostic-adddiagnostic-script {
	width: 100%;
	height: 100%;
}

#nsdiagnostics-editdiagnostic-editorfield {
	position: absolute;
	top: 140px;
	bottom: 15px;
	left: 10px;
	right: 10px;
}

#nsdiagnostics-diagnostic-script {
	position: absolute;
	top: 60px;
	left: 5px;
	bottom: 5px;
	right: 5px;
}

.editscriptform .cli-text {
	width: 300px;
}

#nsdevices-devicedetails #rundiagnostics {
	margin-top: 20px;
	margin-bottom: 10px;
}

.nsreport-filter {
	margin-left: 2px;
	margin-right: 5px;
}

#nsadmin-apitokenaddform input#token {
	width: 250px;
	font-family: monospace;
}