html,button,input,select,textarea {
	font-family: sans-serif;
}

.text {
	padding: 2px;
}

th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
	content: '';
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #404040 transparent;
	visibility: hidden;
	opacity: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
	border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}

#splash {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 180px;
	margin-top: -100px;
	margin-left: -200px;
	border: 1px solid #CCC;
	z-index: 1000;
	padding: 20px;
}

#splash.withbackground {
	background: url('../img/netshot-medium.png') no-repeat bottom right #FFFFFF;
}

#splash .title {
	font-size: 24px;
	font-weight: bold;
}

#splash form {
	padding-left: 0px;
}

#progress {
	width: 100%;
	height: 2px;
}

#progress #bar {
	height: 100%;
	width: 0%;
	background-color: #FF0000;
}

.nsdialog-progress {
	margin-top: 40px;
}

.nsdialog-progress #progress {
	margin-top: 5px;
}

#splash #connection-error {
	display: none;
}

#splash #versionmismatch-error {
	display: none;
}

#splash #authentication-box {
	display: none;
	margin-top: 30px;
}

#splash #authentication-box input {
	font-family: monospace;
	padding: 5px;
}

.ui-widget {
	font-size: 0.9em;
}

.ui-widget form .ui-widget {
	font-size: 11px;
}

.ui-menu-item>a {
	text-decoration: none;"
}

.nstoolbar {
	background-image:
		url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc4MjQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNFRkVGRUYiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNFRkVGRUYiIG9mZnNldD0iMC41Ii8+PHN0b3Agc3RvcC1jb2xvcj0iI0U3RTdFNyIgb2Zmc2V0PSIwLjUiLz48c3RvcCBzdG9wLWNvbG9yPSIjRTdFN0U3IiBvZmZzZXQ9IjEiLz4KPC9saW5lYXJHcmFkaWVudD4KPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNnODI0KSIgLz4KPC9zdmc+);
	border-bottom: 1px solid #c0c0c0;
	height: 66px;
	overflow: hidden;
	padding-top: 3px;
}

.nstoolbar .ui-button {
	border: 1px solid transparent;
	background-image: none;
	background-color: transparent;
}

.nstoolbar .ui-button-text {
	padding-right: 5px;
	padding-left: 5px;
}

.nstoolbar .ui-button.ui-state-hover {
	border-bottom: 1px solid #777;
	border-right: 1px solid #777;
	border-left: 1px solid #aaa;
	border-top: 1px solid #aaa;
	cursor: pointer;
	background: #e9e9e9; /* Old browsers */
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image:
		url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc3ODYiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjEwMCUiIHkyPSIxMDAlIj4KPHN0b3Agc3RvcC1jb2xvcj0iI0U5RTlFOSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iI0Q5RDlEOSIgb2Zmc2V0PSIxIi8+CjwvbGluZWFyR3JhZGllbnQ+CjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZzc4NikiIC8+Cjwvc3ZnPg==);
}

.nstoolbar .ui-button.ui-state-active {
	border-color: #777;
	background: #a9a9a9; /* Old browsers */
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image:
		url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9ImcxMDEiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjEwMCUiIHkyPSIxMDAlIj4KPHN0b3Agc3RvcC1jb2xvcj0iI0E5QTlBOSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iI0U5RTlFOSIgb2Zmc2V0PSIxIi8+CjwvbGluZWFyR3JhZGllbnQ+CjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZzEwMSkiIC8+Cjwvc3ZnPg==);
}

.nstoolbar #nsuser {
	position: absolute;
	top: 40px;
	right: 10px;
}

#nsuser .ui-icon {
	float: left;
	margin-top: .2em;
}

#nsuser a {
	margin-left: 8px;
}

.ui-button {
	font-size: 11px;
}

.nstoolbar .ui-button {
	font-size: 14px;
}

.nstoolbar .ui-button>span {
	font-size: 1em;
}

.nstoolbar .ui-button>span>span {
	display: block;
	font-size: 1em;
}

.nstoolbar .nstitle {
	display: block;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 15px;
}

.nstoolbar .nsnetshot {
	font-size: 24px;
	font-weight: bold;
}

.nstoolbar .nsversion {
	display: block;
	text-align: right;
	font-size: 10px;
}

.nstoolbar .nsloader {
	float: left;
	position: absolute;
	top: 40px;
}

.nsloader {
	display: none;
}

.nstoolbarspacer {
	width: 1px;
	height: 15px;
	border-right: solid #DDD;
	margin: 0px 3px 0px 3px;
	display: inline-block;
}

#header {
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
}

#page {
	position: absolute;
	top: 68px;
	left: 0px;
	bottom: 0px;
	right: 0px;
}

.nsmain {
	padding: 10px;
	position: absolute;
	top: 5px;
	left: 275px;
	bottom: 5px;
	right: 5px;
	overflow: auto;
	border: solid 1px #DDD;
}

.nsfullpage {
	padding: 10px;
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	overflow: auto;
	border: solid 1px #DDD;
}

.nssidebar {
	width: 250px;
	overflow: auto;
	border: solid 1px #DDD;
	padding: 5px;
	overflow-x: hidden;
	overflow-y: auto;
}

.nstreelist {
	padding: 5px;
	overflow-x: hidden;
	overflow-y: auto;
}

.nstreelist ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.nstreelist li {
	cursor: pointer;
	border: 1px solid transparent;
}

.nstreelist li.hover {
	background-color: #EEE;
	border: 1px solid #BBB;
}

.nstreelist li.active {
	background-color: #DDD;
	border: 1px solid #BBB;
}

h1 {
	font-size: 1.2em;
	border-bottom: dotted 1px #DDD;
}

#nsdevices-groups {
	position: absolute;
	top: 5px;
	left: 5px;
	height: 100px;
}

#nsdevices-groups li.nsdevices-list-group>.name {
	font-weight: bold;
}

#nsdevices-groups li {
	padding-left: 8px;
}

#nsdevices-groups li .details {
	font-size: small;
	display: none;
}

#nsdevices-groups li.active .details {
	display: block;
}

#nsdevices-groups li.nsdevices-list-groupfolder {
	background: url('../img/folder_16px.png') no-repeat left 3px;
	padding-left: 18px;
}

#nsdevices-groups li.nsdevices-list-groupfolder.expanded {
	background: url('../img/folder-open_16px.png') no-repeat left 3px;
}

#nsdevices-groups li.nsdevices-list-groupfolder.expanded>ul {
	display: block;
}

#nsdevices-groups li.nsdevices-list-groupfolder>ul {
	margin-left: -10px;
	border-left: 1px dotted #BBBBBB;
	display: none;
}

#nsdevices-groups .actions {
	float: right;
	margin-top: -15px;
}

#nsdevices-search {
	position: absolute;
	top: 5px;
	left: 5px;
	border: none;
	overflow: hidden;
	width: 258px;
	padding: 0px 0px 2px 0px;
}

#nsdevices-clearsearch {
	float: right;
	font-size: 9px;
	margin-top: -22px;
	right: 33px;
}

#nsdevices-listbuttons {
	float: right;
	margin-top: 30px;
	right: 0px;
}

#nsdevices-listbuttons>button {
	font-size: 9px;
}

#nsdevices-openadvancedsearch {
	float: right;
	font-size: 9px;
	margin-top: -22px;
	right: 10px;
}

#nsdevices-search>input {
	margin-top: 2px;
	width: 244px;
	padding-top: 2px;
	padding-bottom: 2px;
}

#nsdevices-sidedivider {
	position: absolute;
	top: 115px;
	height: 4px;
	border: 1px solid transparent;
	left: 5px;
	padding: 0px 5px 0px 5px;
	cursor: row-resize;
}

#nsdevices-sidedividerzone {
	position: absolute;
	top: 50px;
	left: 5px;
	bottom: 100px;
	border: none;
}

#nsdevices-list {
	position: absolute;
	top: 120px;
	left: 5px;
	bottom: 5px;
}

#nsdevices-listheader {
	position: absolute;
	top: 33px;
	left: 0px;
	width: 195px;
	padding: 5px;
	font-size: 0.9em;
	color: #555555;
	text-align: right;
}

#nsdevices-listbox {
	position: absolute;
	height: auto;
	top: 60px;
	left: 0px;
	bottom: 0px;
	width: 250px;
	outline: none;
}

#nsdevices-listbox li {
	display: block;
}

.nsdevices-list-device {
	display: block;
	background: url('../img/device_16px.png') no-repeat left 3px;
	padding-left: 18px;
}

.nsdevices-list-device.disabled {
	background-image: url('../img/device_disabled_16px.png');
	color: #AAAAAA;
}

.nsdevices-list-device .name {
	display: block;
	font-weight: bold;
}

.nsdevices-list-device .ip {
	display: block;
	font-size: small;
	font-family: monospace;
}

.nsdevices-list-device .family {
	display: block;
	font-size: small;
}

#nsdevices-device-noncompliant {
	float: right;
	position: absolute;
	padding: 5px 13px 5px 10px;
	right: 10px;
	top: 10px;
	background-color: #FFCCCC;
	font-size: .9em;
	border: 1px dotted #FF0000;
}

#nsdevices-device-noncompliant .icon {
	float: left;
	margin-right: -.3em;
	margin-top: .1em;
}

#nsdevices-device-noncompliant .message {
	margin-left: 8px;
}

#nsdevices-device .panel {
	border: 1px solid #D3D3D3;
	margin-top: 5px;
	min-height: 500px;
	padding: 10px;
	overflow: auto;
}

#nsdevices-device .panel #general {
	min-width: 500px;
}

#nsdevices-device .panel #general td {
	padding-top: 5px;
	padding-bottom: 5px;
}

#nsdevices-device .panel #general th {
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
}

#nsdevices-device .panel {
	font-size: 0.9em;
}

#nstoolbar-devices-add #othermethods {
	width: 16px;
}

#nstoolbar-devices-addmenu {
	width: 250px;
	background-color: #FFFFFF;
	z-index: 10000;
}

#nsdevices-device .panel table tr {
	border-top: 1px solid #D3D3D3;
	border-bottom: 1px solid #D3D3D3;
}

#nsdevices-device .panel table td {
	padding-right: 4px;
	padding-left: 4px;
}

#nsdevices-device .panel table th {
	padding: 5px 20px 5px 20px;
}

#nsdevices-device .panel .maincolumn {
	background-color: #E6E6E6;
}

#nsdevices-device .panel table tr .expandicon {
	float: left;
	margin-right: .3em;
}

#nsdevices-device .panel table tr.configdetails {
	display: none;
}

.configpreviousdiff {
	font-size: 9px;
}

#nsdevices-multidevices-toolbar {
	margin-top: 10px;
	margin-bottom: 10px;
}

.no-close .ui-dialog-titlebar-close {
	display: none;
}

.nsdialog fieldset {
	margin-top: 10px;
	margin-bottom: 10px;
}

.nsdialog table td {
	padding-left: 10px;
	padding-right: 10px;
}

.nsdialog form table td {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 0px;
}

.nsdialog form {
	padding-left: 50px;
}

.nsdialog label {
	margin-right: 5px;
}

.nsdialog .nserror {
	margin-top: 15px;
	font-weight: bold;
	font-size: 0.9em;
	background-color: #FFCCCC;
	padding: 2px 5px 2px 5px;
}

.nsdialog .nserror .ui-icon {
	float: left;
	margin-right: .3em;
	margin-top: .2em;
}

.nsdialog .nsdialog-logo {
	float: left;
	width: 50px;
	height: 100px;
}

.nsdialog #nstask-tasklog {
	margin-top: 20px;
}

.nsdialog .nsdialog-log {
	font-family: monospace;
	max-height: 200px;
	overflow-y: scroll;
}

.nsicon {
	display: inline-block;
	vertical-align: text-top;
}

.nstable {
	padding: 5px;
	margin-bottom: 10px;
}

.nstable thead {
	
}

.nstable th {
	padding-left: 20px;
	padding-right: 20px;
	background-color: #EEE;
	border: 1px solid #FFFFFF;
}

.nstable td {
	padding-left: 10px;
	padding-right: 10px;
}

.nsconfig {
	font-family: monospace;
	padding: 10px;
}

.nsconfig table {
	width: 100%;
}

.nsconfig table td {
	padding-left: 5px;
	padding-right: 5px;
}

.nsconfig table tr.even {
	background-color: #FBFBFB;
}

.nsconfig table tr.deleted {
	background-color: #FF9999;
}

.nsconfig table tr.inserted {
	background-color: #99FF99
}

.nsconfig table tr.changed {
	background-color: #FFFF99;
}

.nsconfig table .linenum {
	text-align: right;
	color: #CCC;
	width: 50px;
}

#nsconfig-differ {
	font-size: 0.9em;
	position: fixed;
	height: 80px;
	right: 40px;
	margin-top: -3px;
	padding: 3px;
}

#nsconfig-differ div {
	text-align: right;
}

#nsconfig-differ .config {
	width: 100%;
	border: 1px solid #D3D3D3;
	color: #D3D3D3;
	text-align: center;
	margin-bottom: 5px;
	padding: 3px;
}

#nsconfig-differ .config.hover {
	background-color: #D3D3D3;
}

#nsconfig-differ .config.active {
	color: #000;
	border-color: #000;
}

#nsconfig-differ .config.set {
	color: #000;
}

#nsdevices-advancedsearch #expression {
	width: 100%;
	background-image: none;
	background-color: #F1FF99;
}

#nsdevice-groupeditform #devicesearch {
	margin-top: 5px;
	width: 230px;
	padding-left: 5px;
	padding-right: 5px;
}

#nsdevice-groupeditform #alldevices {
	margin-top: 5px;
	width: 230px;
	height: 200px;
}

#nsdevice-groupeditform #devices {
	margin-top: 5px;
	width: 230px;
	height: 225px;
}

#nsdevice-groupeditform .nsdialog-logo {
	height: 50px;
}

#nsdevice-groupeditform li.disabled {
	color: #AAAAAA;
}

#nsdevice-groupeditform #expression {
	width: 100%;
	background-image: none;
	background-color: #F1FF99;
}

#nsdevice-groupeditform #previewdevices {
	max-height: 150px;
	width: 250px;
}

#nstasks-taskstabs {
	margin-bottom: 10px;
}

.nsdatepicker {
	text-align: center;
	width: 100px;
}

.nstimepicker {
	text-align: center;
	width: 30px;
}

.nsportpicker {
	text-align: center;
	width: 60px;
}

.nstask-schedule {
	display: none;
}

.nstask-schedule>div {
	margin-bottom: 5px;
}

.nstask-schedule .schedule-options {
	margin: 5px 0px 5px 15px;
}

#nstasks-schedulertoolbox {
	margin-top: 20px;
}

input.spinner {
	width: 30px;
}

#nsreports-list {
	position: absolute;
	top: 5px;
	left: 5px;
	bottom: 5px;
}

#nsreports-listbox {
	position: absolute;
	height: auto;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 250px;
	outline: none;
}

#nsreports-listbox li {
	display: block;
}

.nsreports-list-report {
	background: url('../img/report_16px.png') no-repeat left 3px;
	padding-left: 18px;
}

.nsreports-list-report .name {
	display: block;
	font-weight: bold;
}

.nsreports-list-report .description {
	color: #808080;
	font-size: small;
	display: block;
}

#nsreport-tabs {
	margin-bottom: 10px;
}

.nsreports-submit {
	margin-top: 20px;
}

#nscompliance-list {
	position: absolute;
	top: 5px;
	left: 5px;
	bottom: 5px;
}

#nscompliance-listbox {
	position: absolute;
	height: auto;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 250px;
	outline: none;
}

#nscompliance-listbox li {
	display: block;
}

.nscompliance-list-policy {
	background: url('../img/compliance_16px.png') no-repeat left 3px;
	padding-left: 18px;
}

.nscompliance-list-policy.software-policy {
	background-image: url('../img/software_16px.png');
}

.nscompliance-list-policy.hardware-policy {
	background-image: url('../img/hardware_16px.png');
}

.nscompliance-list-policy .actions {
	float: right;
	margin-top: -15px;
}

.nscompliance-list-policy .details {
	display: none;
	font-size: small;
}

.nscompliance-list-policy.active .details {
	display: block;
}

.nscompliance-list-policy .name {
	display: block;
	font-weight: bold;
}

.nscompliance-list-policy .group {
	font-style: italic;
}

#nscompliance-rulelist {
	position: absolute;
	top: 5px;
	left: 270px;
	bottom: 5px;
	width: 200px;
}

#nscompliance-rulelistbox {
	position: absolute;
	height: auto;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 200px;
	outline: none;
}

#nscompliance-rule {
	left: 490px;
}

#nscompliance-software {
	left: 275px;
	display: none;
}

#nscompliance-software #ruletable .rulerow {
	border-left: 3px solid transparent;
}

#nscompliance-software #ruletable .rulerow.hover {
	border-left: 3px solid #BBB;
	cursor: default;
}

#nscompliance-hardware {
	left: 275px;
	display: none;
}

#nscompliance-hardware #ruletable .rulerow {
	border-left: 3px solid transparent;
}

#nscompliance-hardware #ruletable .rulerow.hover {
	border-left: 3px solid #BBB;
	cursor: default;
}

#nscompliance-rule-script {
	position: absolute;
	top: 40px;
	left: 5px;
	bottom: 5px;
	right: 5px;
}

.nscompliance-list-rule {
	background: url('../img/rule_16px.png') no-repeat left 3px;
	padding-left: 18px;
}

.nscompliance-list-rule.disabled {
	background-image: url('../img/rule_disabled_16px.png');
	color: #AAAAAA;
}

.nscompliance-list-rule .details {
	display: none;
	font-size: small;
}

.nscompliance-list-rule.active .details {
	display: block;
}

.nscompliance-list-rule .name {
	display: block;
	font-weight: bold;
}

.nscompliance-list-rule .actions {
	float: right;
	margin-top: -15px;
}

#nscompliance-editrulescriptform {
	position: absolute;
	top: 10px;
	bottom: 10px;
	left: 10px;
	right: 10px;
}

#nscompliance-editrule-editorfield {
	position: absolute;
	top: 0px;
	bottom: 50px;
	left: 10px;
	right: 10px;
}

#nscompliance-editrule-script {
	width: 100%;
	height: 100%;
}

.editscriptform #nscompliance-editrule-testerfield {
	position: absolute;
	bottom: 15px;
	width: 300px;
}

.editscriptform .nserror,.nsinfo {
	font-weight: bold;
	font-size: 0.9em;
	background-color: #FFCCCC;
	padding: 2px 5px 2px 5px;
	display: none;
	margin-top: 8px;
	position: absolute;
	bottom: 0px;
	left: 10px;
	right: 10px;
}

.editscriptform .nserror,.nsinfo .ui-icon {
	float: left;
	margin-right: .3em;
	margin-top: .2em;
}

.editscriptform .nserror {
	background-color: #FFCCCC;
}

.editscriptform .nsinfo {
	background-color: #CCFFCC;
}

#ruledevice {
	width: 150px;
	cursor: pointer;
}




#nscompliance-editruletextform textarea {
	resize: none;
	font-family: monospace;
}

#nscompliance-editruletextform #text {
	width: 500px;
}

#nsdevice-deviceeditform #devicecredentials {
	padding-left: 10px;
}

#nsdevices-selectdeviceform #devicesearch {
	margin-top: 5px;
	width: 230px;
	padding-left: 5px;
	padding-right: 5px;
}

#nsdevices-selectdeviceform #alldevices {
	margin-top: 5px;
	width: 230px;
	height: 200px;
}

#nsdevices-selectdeviceform .nsdialog-logo {
	height: 35px;
}

#nscompliance-ruletestlogs {
	max-height: 400px;
	width: 100%;
}

#nscompliance-editruleform #devicesearch {
	margin-top: 5px;
	width: 200px;
	padding-left: 5px;
	padding-right: 5px;
}

#nscompliance-editruleform #alldevices {
	margin-top: 5px;
	width: 200px;
	height: 190px;
}

#nscompliance-editruleform #exemptiondate {
	margin-top: 5px;
	width: 200px;
	padding-left: 5px;
	padding-right: 5px;
	cursor: pointer;
}

#nscompliance-editruleform #devices {
	margin-top: 5px;
	width: 260px;
	height: 240px;
}

#nscompliance-editruleform .nsdialog-logo {
	height: 50px;
}

#nscompliance-editruleform li.disabled {
	color: #AAAAAA;
}

#nscompliance-editrulescriptform textarea {
	resize: none;
	font-family: monospace;
}

#nscompliance-editrulescriptform #text {
	width: 500px;
}

#nsdevices-devicedetails #rules {
	margin-bottom: 30px;
}

#nsdevices-devicedetails #checkcompliance {
	margin-top: 20px;
	margin-bottom: 10px;
}

#nsdevices-devicedetails .compliancestatus {
	margin: 5px;
	padding: 2px 5px 2px 5px;
}

#nsdevices-devicedetails .compliancestatus.noncompliant {
	background-color: #FFCCCC;
	border: 1px dotted #FF0000;
}

#nsdevices-devicedetails .compliancestatus.compliant {
	background-color: #CCFFCC;
	border: 1px dotted #00FF00;
}

#nsdevices-devicedetails .compliancestatus.hardware {
	background: transparent;
}

#nsdevices-devicedetails .compliancestatus .icon {
	float: left;
	margin-right: -.3em;
	margin-top: .1em;
}

#nsdevices-devicedetails .compliancestatus .message {
	margin-left: .5em;
}

#nsdevices-devicedetails #rules .result {
	color: #AAAAAA;
}

#nsdevices-devicedetails #rules tr.nonconforming .result {
	color: #FF1010;
}

#nsdevices-devicedetails #rules tr.conforming .result {
	color: #10FF10;
}

#chart-configcompliance {
	display: inline-block;
}

#nsdevices-devicedetails #tasks button {
	font-size: 9px;
}

#nsdevices-devicedetails .legend {
	margin-bottom: 10px;
}

.nsreport-legend {
	display: inline-block;
	border: 1px solid #BBB;
	padding: 10px;
	margin-top: 10px;
}

.nsreport-legend-item {
	width: 100%;
	margin-top: 5px;
}

.nsreport-legend-color {
	height: 15px;
	width: 15px;
}

.nsreport-legend-text {
	margin-left: 5px;
	padding-right: 10px;
	padding-left: 10px;
}

.nsreport-legend-value {
	text-align: right;
	padding-left: 10px;
}

.nsreport-legend-comment {
	text-align: left;
	padding-left: 10px;
	font-size: .9em;
	color: #BBB;
}

#nscompliance-addsoftwareruleform .nsdialog-logo {
	height: 150px;
}

.gold {
	color: #FFD700;
}

.silver {
	color: #C0C0C0;
}

.bronze {
	color: #CD7F32;
}

#nsreport-softwarecompliance-groups .group-chart {
	width: 250px;
	display: inline-block;
}

#nsadmin-about #libraries li {
	display: inline;
}

.nsadmin-credentialsclikey textarea {
	font-size: .8em;
	font-family: monospace;
}

#nsdevices-searchtoolbox #fieldbuttons {
	line-height: 2em;
}

#nscompliance-textrule-details {
	font-size: 0.9em;
	width: 100%;
	margin-top: 30px;
}

#nscompliance-textrule-details tr {
	border-top: 1px solid #D3D3D3;
	border-bottom: 1px solid #D3D3D3;
}

#nscompliance-textrule-details th {
	width: 160px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
}

#nscompliance-textrule-details td {
	padding-top: 5px;
	padding-bottom: 5px;
}

#nscompliance-textrule-details .ruleconfig {
	font-family: monospace;
}

.ui-dialog .ui-dialog-titlebar {
	padding: .1em 1em;
}

.editscriptform #editorfield {
	position: absolute;
	top: 50px;
	bottom: 50px;
	left: 45px;
	right: 10px;
}

.editscriptform .loadsavetools {
	position: absolute;
	left: 5px;
	width: 25px;
	height: 23px;
	padding: 3px;
	background-color: white;
	z-index: 10;
	white-space: nowrap;
	overflow: hidden;
}

.editscriptform .loadsavetools.expanded {
	width: 250px;
	border: solid 1px #DDD;
}


.editscriptform .loadsavetools input.text {
	width: 170px;
}

.editscriptform .loadsavetools select.text {
	vertical-align: top;
	width: 180px;
}

.editscriptform .loadsavetools table {
	margin: 5px;
	width: 100%;
}

.editscriptform .loadsavetools table tr {
	border-top: 1px solid #D3D3D3;
	border-bottom: 1px solid #D3D3D3;
}

.editscriptform .loadsavetools table th {
	width: 30%;
}

.editscriptform #savetools {
	top: 55px;
}

.editscriptform #loadtools {
	top: 86px;
}

.editscriptform #loadtools.expanded {
	top: 86px;
	height: 105px;
}

.editscriptform #script {
	width: 100%;
	height: 100%;
}

.editscriptform #scripttools {
	position: absolute;
	bottom: 20px;
	left: 50px;
}

.editscriptform #scriptsaveblock {
	display: none;
}

.editscriptform #scriptloadblock {
	display: none;
}

#nscompliance-runmultiscriptform #editorfield {
	top: 100px;
}

#nscompliance-runmultiscriptform #savetools {
	top: 105px;
}

#nscompliance-runmultiscriptform #loadtools {
	top: 136px;
}

#nscompliance-runmultiscriptform #status {
	position: absolute;
	bottom: 30px;
}

#deviceconnectionsettings {
	padding-left: 10px;
}

#deviceconnectionsettings>div {
	margin-top: 5px;
}

#nsdiagnostics-list {
	position: absolute;
	top: 5px;
	left: 5px;
	bottom: 5px;
}

#nsdiagnostics-listbox {
	position: absolute;
	height: auto;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 250px;
	outline: none;
}

#nsdiagnostics-listbox li {
	display: block;
}

.nsdiagnostics-list-diagnostic {
	background: url('../img/diagnostic_16px.png') no-repeat left 3px;
	padding-left: 18px;
}

.nsdiagnostics-list-diagnostic.disabled {
	background-image: url('../img/diagnostic_disabled_16px.png');
	color: #AAAAAA;
}

.nsdiagnostics-list-diagnostic .actions {
	float: right;
	margin-top: -15px;
}

.nsdiagnostics-list-diagnostic .details {
	display: none;
	font-size: small;
}

.nsdiagnostics-list-diagnostic.active .details {
	display: block;
}

.nsdiagnostics-list-diagnostic .name {
	display: block;
	font-weight: bold;
}

.nsdiagnostics-list-diagnostic .group {
	font-style: italic;
}

select#climode {
	font-family: monospace;
}

#nsdiagnostics-simplediagnostic-details {
	font-size: 0.9em;
	width: 100%;
	margin-top: 30px;
}

#nsdiagnostics-simplediagnostic-details tr {
	border-top: 1px solid #D3D3D3;
	border-bottom: 1px solid #D3D3D3;
}

#nsdiagnostics-simplediagnostic-details th {
	width: 160px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
}

#nsdiagnostics-simplediagnostic-details td {
	padding-top: 5px;
	padding-bottom: 5px;
}

#nsdiagnostics-simplediagnostic-details .command {
	font-family: monospace;
}

#nsdiagnostics-adddiagnostic-editorfield {
	position: absolute;
	top: 140px;
	bottom: 15px;
	left: 10px;
	right: 10px;
}

#nsdiagnostic-adddiagnostic-script {
	width: 100%;
	height: 100%;
}

#nsdiagnostics-editdiagnostic-editorfield {
	position: absolute;
	top: 120px;
	bottom: 15px;
	left: 10px;
	right: 10px;
}

#nsdiagnostics-diagnostic-script {
	position: absolute;
	top: 40px;
	left: 5px;
	bottom: 5px;
	right: 5px;
}


