<div id="nsadevices-deletedevicesform" title="Delete Devices">

	<div class="nsdialog-logo">
		<img alt="Delete" src="img/delete_32px.png" />
	</div>
	
	<form>
		<div>
			<p>You are about to delete <%- number %> devices.</p>
			<p>This action cannot be reverted.</p>
		</div>
		<div id="status" class="nsdialog-progress" style="display: none;">
		Please wait... Processing devices...
		<div id="progress" data-progress="0">
			<div id="bar"></div>
		</div>
		</div>
		<div class="nserror" id="error">
			<span class="ui-icon ui-icon-alert"></span>
			<span id="errormsg"></span>
		</div>
	</form>
</div>