<div id="nsdevice-groupeditform" title="Edit group">

	<div class="nsdialog-logo">
		<img alt="Edit" src="img/group_32px.png" />
	</div>
	
	<form>
		<fieldset>
			<p>Name: <strong><%- name %></strong>
			(<% if (type.match(/\.StaticDeviceGroup$/)) { %>static group<% } %><% if (type.match(/\.DynamicDeviceGroup$/)) { %>dynamic group<% } %>)</p>
		</fieldset>
		<fieldset>
			<label for="groupfolder">Folder: </label>
			<input type="text" name="groupfolder" id="groupfolder" autofocus="autofocus"
				class="text ui-widget-content ui-corner-all" value="<%- folder %>" />
		</fieldset>
		<fieldset>
			<input type="checkbox" name="hiddenfromreports" id="hiddenfromreports"<% if (hiddenFromReports) { %> checked="checked"<% } %> />
			<label for="hiddenfromreports">Hide this group in reports</label>
		</fieldset>
		<fieldset id="groupdetails">
		</fieldset>
		<div class="nserror" id="error">
			<span class="ui-icon ui-icon-alert"></span>
			<span id="errormsg"></span>
		</div>
	</form>
</div>
